@font-face {
  font-family: 'jrugpunk';
  src: url("/assets/fonts/JRUGPUNK.ttf");
  font-display: fallback;
}

@keyframes glitch2 {
  0% {
    transform: none;
    opacity: 0.5;
  }
  7% {
    transform: translate(-2px, -3px);
    opacity: 0.75;
  }
  10% {
    transform: none;
    opacity: 0.5;
  }
  27% {
    transform: none;
    opacity: 0.5;
  }
  30% {
    transform: translate(-5px, -2px);
    opacity: 0.75;
  }
  35% {
    transform: none;
    opacity: 0.5;
  }
  52% {
    transform: none;
    opacity: 0.5;
  }
  55% {
    transform: translate(-5px, -1px);
    opacity: 0.75;
  }
  50% {
    transform: none;
    opacity: 0.5;
  }
  72% {
    transform: none;
    opacity: 0.5;
  }
  75% {
    transform: translate(-2px, -6px);
    opacity: 0.75;
  }
  80% {
    transform: none;
    opacity: 0.5;
  }
  100% {
    transform: none;
    opacity: 0.75;
  }
}

@keyframes glitch3 {
  0% {
    transform: none;
    opacity: 0.5;
  }
  7% {
    transform: translate(2px, 3px);
    opacity: 0.75;
  }
  10% {
    transform: none;
    opacity: 0.5;
  }
  27% {
    transform: none;
    opacity: 0.5;
  }
  30% {
    transform: translate(5px, 2px);
    opacity: 0.75;
  }
  35% {
    transform: none;
    opacity: 0.5;
  }
  52% {
    transform: none;
    opacity: 0.75;
  }
  55% {
    transform: translate(5px, 1px);
    opacity: 0.75;
  }
  50% {
    transform: none;
    opacity: 0.5;
  }
  72% {
    transform: none;
    opacity: 0.5;
  }
  75% {
    transform: translate(2px, 6px);
    opacity: 0.75;
  }
  80% {
    transform: none;
    opacity: 0.5;
  }
  100% {
    transform: none;
    opacity: 0.5;
  }
}

.glitch-hover:hover {
  color: #67f3da;
  animation: glitch2 .5s infinite;
}

.glitch-hover:hover:nth-child(2) {
  color: #f16f6f;
  animation: glitch3 .5s infinite;
}

:root {
  --fluid-min-width: 320;
  --fluid-max-width: 1140;
  --fluid-screen: 100vw;
  --fluid-bp: calc(
    (var(--fluid-screen) - var(--fluid-min-width) / 16 * 1rem) /
      (var(--fluid-max-width) - var(--fluid-min-width))
  );
}

@media screen and (min-width: 1140px) {
  :root {
    --fluid-screen: calc(var(--fluid-max-width) * 1px);
  }
}

:root {
  --primary-clr: #9E99D5;
  --secondary-clr: #a5b933;
  --accent-clr: #e7d95b;
  --dark-clr: #1a1a1a;
  --light-clr: #fdfdea;
  --mono-font: 'Roboto Mono', monospace;
  --ss-font: 'Work Sans', sans-serif;
  --accent-font:'jrugpunk', 'Work Sans', sans-serif;
  --f--2-min: 9.72;
  --f--2-max: 11.52;
  --step--2: calc(
    ((var(--f--2-min) / 16) * 1rem) + (var(--f--2-max) - var(--f--2-min)) *
      var(--fluid-bp)
  );
  --f--1-min: 11.67;
  --f--1-max: 14.40;
  --step--1: calc(
    ((var(--f--1-min) / 16) * 1rem) + (var(--f--1-max) - var(--f--1-min)) *
      var(--fluid-bp)
  );
  --f-0-min: 14.00;
  --f-0-max: 18.00;
  --step-0: calc(
    ((var(--f-0-min) / 16) * 1rem) + (var(--f-0-max) - var(--f-0-min)) *
      var(--fluid-bp)
  );
  --f-1-min: 16.80;
  --f-1-max: 22.50;
  --step-1: calc(
    ((var(--f-1-min) / 16) * 1rem) + (var(--f-1-max) - var(--f-1-min)) *
      var(--fluid-bp)
  );
  --f-2-min: 20.16;
  --f-2-max: 28.13;
  --step-2: calc(
    ((var(--f-2-min) / 16) * 1rem) + (var(--f-2-max) - var(--f-2-min)) *
      var(--fluid-bp)
  );
  --f-3-min: 24.19;
  --f-3-max: 35.16;
  --step-3: calc(
    ((var(--f-3-min) / 16) * 1rem) + (var(--f-3-max) - var(--f-3-min)) *
      var(--fluid-bp)
  );
  --f-4-min: 29.03;
  --f-4-max: 43.95;
  --step-4: calc(
    ((var(--f-4-min) / 16) * 1rem) + (var(--f-4-max) - var(--f-4-min)) *
      var(--fluid-bp)
  );
  --f-5-min: 34.84;
  --f-5-max: 54.93;
  --step-5: calc(
    ((var(--f-5-min) / 16) * 1rem) + (var(--f-5-max) - var(--f-5-min)) *
      var(--fluid-bp)
  );
  --fc-3xs-min: (var(--fc-s-min) * 0.25);
  --fc-3xs-max: (var(--fc-s-max) * 0.25);
  --fc-2xs-min: (var(--fc-s-min) * 0.5);
  --fc-2xs-max: (var(--fc-s-max) * 0.5);
  --fc-xs-min: (var(--fc-s-min) * 0.75);
  --fc-xs-max: (var(--fc-s-max) * 0.75);
  --fc-s-min: (var(--f-0-min, 12));
  --fc-s-max: (var(--f-0-max, 18));
  --fc-m-min: (var(--fc-s-min) * 1.5);
  --fc-m-max: (var(--fc-s-max) * 1.5);
  --fc-l-min: (var(--fc-s-min) * 2);
  --fc-l-max: (var(--fc-s-max) * 2);
  --fc-xl-min: (var(--fc-s-min) * 3);
  --fc-xl-max: (var(--fc-s-max) * 3);
  --fc-2xl-min: (var(--fc-s-min) * 4);
  --fc-2xl-max: (var(--fc-s-max) * 4);
  --fc-3xl-min: (var(--fc-s-min) * 6);
  --fc-3xl-max: (var(--fc-s-max) * 6);
  /* T-shirt sizes */
  --space-3xs: calc(((var(--fc-3xs-min) / 16) * 1rem) + (var(--fc-3xs-max) - var(--fc-3xs-min)) * var(--fluid-bp));
  --space-2xs: calc(((var(--fc-2xs-min) / 16) * 1rem) + (var(--fc-2xs-max) - var(--fc-2xs-min)) * var(--fluid-bp));
  --space-xs: calc(((var(--fc-xs-min) / 16) * 1rem) + (var(--fc-xs-max) - var(--fc-xs-min)) * var(--fluid-bp));
  --space-s: calc(((var(--fc-s-min) / 16) * 1rem) + (var(--fc-s-max) - var(--fc-s-min)) * var(--fluid-bp));
  --space-m: calc(((var(--fc-m-min) / 16) * 1rem) + (var(--fc-m-max) - var(--fc-m-min)) * var(--fluid-bp));
  --space-l: calc(((var(--fc-l-min) / 16) * 1rem) + (var(--fc-l-max) - var(--fc-l-min)) * var(--fluid-bp));
  --space-xl: calc(((var(--fc-xl-min) / 16) * 1rem) + (var(--fc-xl-max) - var(--fc-xl-min)) * var(--fluid-bp));
  --space-2xl: calc(((var(--fc-2xl-min) / 16) * 1rem) + (var(--fc-2xl-max) - var(--fc-2xl-min)) * var(--fluid-bp));
  --space-3xl: calc(((var(--fc-3xl-min) / 16) * 1rem) + (var(--fc-3xl-max) - var(--fc-3xl-min)) * var(--fluid-bp));
  /* One-up pairs */
  --space-3xs-2xs: calc(((var(--fc-3xs-min) / 16) * 1rem) + (var(--fc-2xs-max) - var(--fc-3xs-min)) * var(--fluid-bp));
  --space-2xs-xs: calc(((var(--fc-2xs-min) / 16) * 1rem) + (var(--fc-xs-max) - var(--fc-2xs-min)) * var(--fluid-bp));
  --space-xs-s: calc(((var(--fc-xs-min) / 16) * 1rem) + (var(--fc-s-max) - var(--fc-xs-min)) * var(--fluid-bp));
  --space-s-m: calc(((var(--fc-s-min) / 16) * 1rem) + (var(--fc-m-max) - var(--fc-s-min)) * var(--fluid-bp));
  --space-m-l: calc(((var(--fc-m-min) / 16) * 1rem) + (var(--fc-l-max) - var(--fc-m-min)) * var(--fluid-bp));
  --space-l-xl: calc(((var(--fc-l-min) / 16) * 1rem) + (var(--fc-xl-max) - var(--fc-l-min)) * var(--fluid-bp));
  --space-xl-2xl: calc(((var(--fc-xl-min) / 16) * 1rem) + (var(--fc-2xl-max) - var(--fc-xl-min)) * var(--fluid-bp));
  --space-2xl-3xl: calc(((var(--fc-2xl-min) / 16) * 1rem) + (var(--fc-3xl-max) - var(--fc-2xl-min)) * var(--fluid-bp));
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 16px;
  scrollbar-color: var(--primary-clr) var(--accent-clr);
  scrollbar-width: thin;
}

@media screen and (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

body, h1, h2, p, ul, ol, figure {
  margin: 0;
}

body {
  font-family: var(--mono-font);
  color: var(--light-clr);
  font-size: var(--step-0);
  line-height: 1.75;
}

h1, h2, h3 {
  font-family: var(--ss-font);
  line-height: 1.125;
}

h1 {
  font-size: var(--step-4);
}

h2 {
  font-size: var(--step-3);
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  text-align: justify;
}

ul {
  list-style: none;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  height: 100vh;
}

main {
  flex: 1;
  background-color: var(--accent-clr);
}

header, footer {
  background-color: var(--dark-clr);
}

body, .flex-wrap, .section-side-wrap {
  display: flex;
}

body, .flex-wrap--main {
  flex-direction: column;
}

.flex-wrap {
  margin: var(--space-xl) auto;
  width: calc(100% - 4rem);
  justify-content: center;
  gap: 2rem;
}

.site-nav li:not(.logo) {
  display: none;
}

.site-nav .logo {
  max-width: 250px;
}

@media (min-width: 768px) {
  .site-nav {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-auto-flow: column;
    grid-template: repeat(2, 1fr)/repeat(3, 1fr);
    gap: var(--space-m);
  }
  .site-nav li:not(.logo) {
    text-align: center;
    display: inline-block;
  }
  .site-nav .logo {
    max-width: 300px;
    grid-area: 1 / 2 / span 2 / span 1;
  }
  .burger {
    display: none;
  }
}

.flex-wrap--main {
  align-items: center;
}

.section-primary {
  width: 54rem;
  padding: var(--space-l-xl);
  background-color: var(--primary-clr);
}

.section-primary > * + * {
  margin-top: var(--space-xl);
}

.section-side-wrap {
  gap: 2rem;
  justify-content: center;
  flex-flow: row wrap;
}

.section-side {
  width: 25rem;
  align-self: flex-start;
  padding: var(--space-s);
  background-color: var(--secondary-clr);
  text-align: center;
}

.section-primary, .section-side-wrap, .section-side {
  max-width: 100%;
}

@media (min-width: 1017px) {
  .flex-wrap--main {
    flex-direction: row;
    align-items: flex-start;
  }
  .section-side-wrap {
    flex-flow: column;
  }
}

.flex-wrap--footer {
  margin-block: var(--space-m);
}

.site-nav a, .site-nav-mobile a, .comments-link, .pagination, .blog-post__date, .archive-list__date {
  font-family: var(--ss-font);
  text-transform: uppercase;
}

.site-nav a, .site-nav-mobile a, .comments-link, .pagination {
  font-weight: bold;
}

.site-nav a {
  line-height: 1;
  font-size: var(--step-3);
  letter-spacing: 0.03em;
  display: block;
}

.content-body a:not([class]) {
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.content-body a:not([class])::after {
  position: absolute;
  content: "";
  background: var(--accent-clr);
  left: 7px;
  bottom: -3px;
  width: calc(100% - 5px);
  height: 25%;
  transition: 0.35s cubic-bezier(0.25, 0.1, 0, 2.05);
  z-index: -1;
}

.content-body a:not([class]):hover:after {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.page-header {
  position: relative;
  z-index: 0;
  font-family: var(--accent-font);
  text-transform: uppercase;
}

.page-header::before {
  content: " ";
  height: 85%;
  width: 100%;
  margin-left: -4px;
  margin-right: -4px;
  position: absolute;
  transform: rotate(2deg);
  top: 7px;
  left: -1px;
  border-radius: 16% 12% 13% 14%;
  padding: 10px 3px 3px 10px;
  z-index: -1;
  background: var(--dark-clr);
}

.section-side__header {
  display: block;
  color: var(--dark-clr);
  padding-bottom: var(--space-3xs);
  border-bottom: 2px solid;
  margin-bottom: var(--space-s);
  font-size: var(--step-1);
  text-transform: uppercase;
}

.blog-post__header {
  color: var(--dark-clr);
}

.blog-post__date, .archive-list__date {
  font-weight: 500;
}

.blog-post__title {
  display: inline;
  padding: var(--space-3xs) var(--space-xs);
  background-color: var(--light-clr);
  border: 1px solid;
  box-shadow: -3px 3px;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  font-size: var(--step-3);
  line-height: 1.5;
}

.archive-list__title {
  border-bottom: 2px solid;
  font-size: var(--step-1);
}

.archive-list__category {
  font-style: italic;
}

.archive-list__category:before {
  content: 'Filed under: ';
}

figcaption {
  font-size: var(--step--1);
  font-style: italic;
  text-align: center;
}

.flex-wrap--footer {
  font-weight: 300;
  font-size: var(--step--1);
}

.site-nav li:not(.logo) {
  -webkit-text-fill-color: transparent;
  /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--primary-clr);
  border-block: 0.2em solid var(--secondary-clr);
  padding-block: var(--space-3xs);
  transform: rotate(-20deg);
  transition: transform .2s ease-in-out;
}

.site-nav li:not(.logo):nth-child(3n+1) {
  transform: rotate(20deg);
  transition: transform .2s ease-in-out;
}

.site-nav li:not(.logo):hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%239bb623' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E"), url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%239bb623' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: top, bottom;
  background-repeat: repeat-x, repeat-x;
  background-size: 20%;
  border-block: 0;
  padding-block: var(--space-2xs);
  transform: rotate(0);
}

#menuToggle {
  display: block;
  position: relative;
  top: 35px;
  left: 35px;
  z-index: 1;
  user-select: none;
}

#menuToggle a {
  color: var(--dark-clr);
  transition: color 0.3s ease;
}

#menuToggle a:hover {
  color: var(--light-clr);
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -8px;
  left: -7px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: var(--accent-clr);
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#menuToggle input:checked ~ ul {
  transform: none;
}

.site-nav-mobile {
  position: absolute;
  width: 100%;
  margin: -62px 0 0 -35px;
  padding: 80px 35px 35px 35px;
  border: solid 3px var(--dark-clr);
  background: var(--accent-clr);
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

.site-nav-mobile li {
  padding: 10px 0;
  font-size: var(--step-4);
}

svg {
  vertical-align: middle;
  max-width: 100%;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  overflow: hidden;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.blog-post-sig:after {
  content: "EgG";
  font-family: "jrugpunk", sans-serif;
  font-size: var(--step-5);
}

.box-border {
  border: 2px solid var(--dark-clr);
  box-shadow: -0.4em 0.4em var(--dark-clr);
}

.comments-link, .comment-section-title {
  display: flex;
  align-items: flex-start;
  gap: var(--space-2xs);
}

.comments-link::before, .comments-link::after, .comment-section-title::before, .comment-section-title::after {
  content: '';
  flex-grow: 1;
  height: 2px;
  background: var(--light-clr);
  margin-block: auto;
}

.comments-link a {
  font-family: var(--ss-font);
  padding: var(--space-3xs) var(--space-xs);
  border: 2px solid;
  background-size: 100% 200%;
  background-image: linear-gradient(to top, transparent 50%, var(--secondary-clr) 50%);
  transition: all .3s ease-out;
}

.comments-link a:hover {
  background-position: 100% -100%;
}

.comments-link svg {
  fill: var(--light-clr);
}

.btn-contact {
  display: inline-flex;
  align-items: center;
  gap: .5em;
  padding: var(--space-3xs) var(--space-s);
  border: 2px solid;
  border-radius: 8px;
  font-weight: bold;
  color: var(--dark-clr);
  background: var(--accent-clr);
}

.page-header-wrap, .page-header-wrap > * {
  text-align: center;
}

.page-header-wrap > * + * {
  margin-top: var(--space-s);
}

.page-header {
  display: inline;
}

.meta-sharelinks {
  margin-top: var(--space-xs);
}

.meta-sharelinks svg {
  width: 32px;
  transition: 0.2s ease;
}

.meta-sharelinks svg:hover {
  fill: var(--accent-clr);
}

.blog-post > * + * {
  margin-top: var(--space-m);
}

.content-body {
  margin-top: var(--space-l);
}

.content-body > * + * {
  margin-top: var(--space-m);
}

.content-body > h2 {
  margin-top: var(--space-xl);
}

.content-body ul li, .content-body ol li {
  margin-top: var(--space-xs);
}

.content-body img {
  width: 100%;
}

.content-body--split {
  margin-top: 0;
}

.socials-list {
  display: flex;
  justify-content: center;
  gap: 1em;
}

.socials-list li {
  display: inline;
}

.socials-list svg {
  width: 38px;
  fill: var(--light-clr);
}

.socials-list svg:hover {
  fill: var(--accent-clr);
}

.email, .ig, .behance, .steam {
  position: relative;
}

.email::before {
  position: absolute;
  color: var(--dark-clr);
  background-color: var(--light-clr);
  box-shadow: -5px 5px var(--dark-clr);
  font-size: var(--step--1);
  line-height: 1em;
  padding: .5em;
  opacity: 0;
  top: 0;
  left: 0;
  width: 7em;
  z-index: 2;
  pointer-events: none;
  transition: all 0.4s cubic-bezier(0.2, 0.5, 0.15, 1.5);
  -moz-transition: all 0.4s cubic-bezier(0.2, 0.5, 0.15, 1.5);
  -o-transition: all 0.4s cubic-bezier(0.2, 0.5, 0.15, 1.5);
  -webkit-transition: all 0.4s cubic-bezier(0.2, 0.5, 0.15, 1.5);
  content: "Email me!";
}

.email:hover::before {
  opacity: 1;
  top: -6em;
  left: -3em;
  transform: rotate(-9deg);
}

.ig::before {
  position: absolute;
  color: var(--dark-clr);
  background-color: var(--light-clr);
  box-shadow: -5px 5px var(--dark-clr);
  font-size: var(--step--1);
  line-height: 1em;
  padding: .5em;
  opacity: 0;
  top: 0;
  left: 0;
  width: 7em;
  z-index: 2;
  pointer-events: none;
  transition: all 0.4s cubic-bezier(0.2, 0.5, 0.15, 1.5);
  -moz-transition: all 0.4s cubic-bezier(0.2, 0.5, 0.15, 1.5);
  -o-transition: all 0.4s cubic-bezier(0.2, 0.5, 0.15, 1.5);
  -webkit-transition: all 0.4s cubic-bezier(0.2, 0.5, 0.15, 1.5);
  content: "Stalk me!";
}

.ig:hover::before {
  opacity: 1;
  top: 4em;
  left: -2em;
  transform: rotate(-8deg);
}

.behance::before {
  position: absolute;
  color: var(--dark-clr);
  background-color: var(--light-clr);
  box-shadow: -5px 5px var(--dark-clr);
  font-size: var(--step--1);
  line-height: 1em;
  padding: .5em;
  opacity: 0;
  top: 0;
  left: 0;
  width: 7em;
  z-index: 2;
  pointer-events: none;
  transition: all 0.4s cubic-bezier(0.2, 0.5, 0.15, 1.5);
  -moz-transition: all 0.4s cubic-bezier(0.2, 0.5, 0.15, 1.5);
  -o-transition: all 0.4s cubic-bezier(0.2, 0.5, 0.15, 1.5);
  -webkit-transition: all 0.4s cubic-bezier(0.2, 0.5, 0.15, 1.5);
  content: "See my art!";
}

.behance:hover::before {
  opacity: 1;
  top: -7em;
  left: -2em;
  transform: rotate(12deg);
}

.steam::before {
  position: absolute;
  color: var(--dark-clr);
  background-color: var(--light-clr);
  box-shadow: -5px 5px var(--dark-clr);
  font-size: var(--step--1);
  line-height: 1em;
  padding: .5em;
  opacity: 0;
  top: 0;
  left: 0;
  width: 7em;
  z-index: 2;
  pointer-events: none;
  transition: all 0.4s cubic-bezier(0.2, 0.5, 0.15, 1.5);
  -moz-transition: all 0.4s cubic-bezier(0.2, 0.5, 0.15, 1.5);
  -o-transition: all 0.4s cubic-bezier(0.2, 0.5, 0.15, 1.5);
  -webkit-transition: all 0.4s cubic-bezier(0.2, 0.5, 0.15, 1.5);
  content: "Game with me!";
}

.steam:hover::before {
  opacity: 1;
  top: 3em;
  left: -1em;
  transform: rotate(-12deg);
}

.archive-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
}

.archive-list li {
  height: 100%;
  padding: var(--space-m);
  background: var(--light-clr);
  color: var(--dark-clr);
  transition: .2s ease;
}

.archive-list li:hover {
  transform: translate(-0.4em, 0.4em);
  box-shadow: none;
}

.bio-pic {
  max-width: 20rem;
  margin-inline: auto;
}

@media (min-width: 768px) {
  .float-md-left {
    float: left;
    margin: 0 var(--space-l) var(--space-s) 0;
  }
}

.popup {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, 0);
  visibility: hidden;
  z-index: 2;
  padding-inline: .25em;
  background: var(--accent-clr);
  border: 2px solid var(--dark-clr);
  color: var(--dark-clr);
}

.popup:target {
  visibility: visible;
}

.popup img {
  display: block;
  max-width: 100%;
  width: 400px;
}

.popup p {
  text-align: center;
}

.close {
  font-size: var(--step-2);
  line-height: 1;
}

.close:hover {
  color: white;
}

.read-more {
  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition: .25s ease;
  display: none;
}

.read-more-state {
  display: none;
}

.read-more-state:checked ~ .read-more {
  opacity: 1;
  font-size: inherit;
  max-height: 999em;
  display: inherit;
}

.read-more-state ~ .read-more-trigger:before {
  content: 'Continue \2193';
}

.read-more-state:checked ~ .read-more-trigger:before {
  content: 'Show less \2191';
}

.read-more-trigger {
  display: inline-block;
  padding-inline: 0.3em;
  background-color: var(--light-clr);
  color: var(--primary-clr);
  font-weight: bold;
  transition: 0.3s ease;
}

.read-more-trigger:hover {
  background-color: var(--primary-clr);
  color: var(--light-clr);
}

.back-to-top-link {
  display: inline-block;
  position: fixed;
  bottom: 2rem;
  right: 1rem;
  z-index: 2;
  padding: 0.3em 0.5em;
  color: var(--dark-clr);
  background-color: var(--accent-clr);
  border: 1px solid;
  font-size: var(--step--1);
}

.pagination {
  display: flex;
}

.pagination > * {
  flex: 1;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.comment-section-title {
  margin-bottom: var(--space-l);
}

.comment-section-title h2 {
  padding: var(--space-2xs) var(--space-xs);
  border: 2px solid var(--light-clr);
  background: var(--secondary-clr);
  text-transform: initial;
  font-size: var(--step-2);
}

.comment-form-title {
  margin-bottom: var(--space-s);
  text-transform: initial;
  font-weight: 600;
  font-size: var(--step-2);
}

.comment__new {
  margin-top: var(--space-l);
  margin-inline: auto;
  padding: var(--space-m);
  max-width: 35rem;
  color: var(--dark-clr);
  background: var(--light-clr);
}

fieldset {
  border: none;
  padding: 0;
}

.textfield {
  max-width: 100%;
  margin-bottom: var(--space-s);
  font-family: var(--ss-font);
  font-size: var(--step--1);
}

.hp {
  display: none;
}

textarea {
  vertical-align: top;
  max-width: 100%;
}

.textfield__input {
  width: 100%;
  padding: var(--space-2xs);
  border: 2px solid var(--dark-clr);
  margin-top: var(--space-2xs);
  background: transparent;
  font-family: var(--mono-font);
}

.notify-me, .g-recaptcha {
  padding: 0.5rem 0;
}

.submit-button {
  font-family: var(--ss-font);
  font-size: var(--step-0);
  color: var(--dark-clr);
  padding: 5px 7px;
  border: 2px solid var(--dark-clr);
  background: var(--light-clr);
  background-size: 200% 100%;
  transition: 0.2s ease-in;
}

.submit-button:hover {
  color: var(--light-clr);
  background: var(--dark-clr);
}

.comment {
  font-family: var(--ss-font);
  padding: var(--space-m);
  margin-bottom: var(--space-m);
  background: var(--light-clr);
  color: var(--dark-clr);
}

.comment__author {
  padding-bottom: var(--space-2xs);
  border-bottom: 2px solid var(--dark-clr);
}

.comment__admin_tag {
  padding: 3px;
  border-radius: 4px;
  background: var(--secondary-clr);
  color: var(--light-clr);
  font-size: var(--step--1);
}

.comment__name {
  font-weight: 600;
}

.comment__date a:hover {
  text-decoration: underline;
}

.comment__body {
  font-family: var(--mono-font);
  margin-top: var(--space-2xs);
}

.comment__meta {
  text-align: right;
}

.comment__reply-link {
  font-size: var(--step--1);
  cursor: pointer;
}

.comment__reply-link:hover {
  text-decoration: underline;
}

.comment.child {
  margin-left: 2em;
}

.show-modal {
  overflow: hidden;
  position: relative;
}

.show-modal:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.85);
}

.show-modal .modal {
  display: block;
}

.mdl-card {
  min-height: 200px;
  overflow: hidden;
  z-index: 1;
  position: relative;
  background: var(--light-clr);
  box-sizing: border-box;
}

.modal {
  display: none;
  position: fixed;
  width: 330px;
  top: 50%;
  left: 50%;
  margin-left: -150px;
  margin-top: -150px;
  min-height: 0;
  z-index: 9999;
  box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.14);
  padding: 16px;
  border-radius: 2px;
  background: var(--light-clr);
}

.mdl-shadow--16dp {
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.mdl-card__supporting-text, .modal-title {
  overflow: hidden;
  margin-block: var(--space-s);
  text-align: center;
  color: var(--dark-clr);
  font-family: var(--ss-font);
}

.modal-title {
  font-weight: 700;
}

.mdl-card__actions {
  text-align: center;
}

.mdl-js-button {
  background: var(--light-clr);
  border: 1px solid var(--dark-clr);
  padding: 4px 8px;
  overflow: hidden;
  cursor: pointer;
  transition-duration: 0.4s;
  font-family: var(--ss-font);
}

.mdl-js-button:hover {
  background-color: var(--dark-clr);
  color: var(--light-clr);
}

.disabled input,
.disabled button,
.disabled textarea,
.disabled label {
  pointer-events: none;
  cursor: not-allowed;
  filter: alpha(opacity=65);
  box-shadow: none;
  opacity: 0.65;
}
