@keyframes glitch2 {
  0% {
    transform: none;
    opacity: 0.25;
  }
  7% {
    transform: translate(-2px, -3px);
    opacity: 0.5;
  }
  10% {
    transform: none;
    opacity: 0.25;
  }
  27% {
    transform: none;
    opacity: 0.25;
  }
  30% {
    transform: translate(-5px, -2px);
    opacity: 0.5;
  }
  35% {
    transform: none;
    opacity: 0.25;
  }
  52% {
    transform: none;
    opacity: 0.25;
  }
  55% {
    transform: translate(-5px, -1px);
    opacity: 0.5;
  }
  50% {
    transform: none;
    opacity: 0.25;
  }
  72% {
    transform: none;
    opacity: 0.25;
  }
  75% {
    transform: translate(-2px, -6px);
    opacity: 0.5;
  }
  80% {
    transform: none;
    opacity: 0.25;
  }
  100% {
    transform: none;
    opacity: 0.25;
  }
}

@keyframes glitch3 {
  0% {
    transform: none;
    opacity: 0.25;
  }
  7% {
    transform: translate(2px, 3px);
    opacity: 0.5;
  }
  10% {
    transform: none;
    opacity: 0.25;
  }
  27% {
    transform: none;
    opacity: 0.25;
  }
  30% {
    transform: translate(5px, 2px);
    opacity: 0.5;
  }
  35% {
    transform: none;
    opacity: 0.25;
  }
  52% {
    transform: none;
    opacity: 0.25;
  }
  55% {
    transform: translate(5px, 1px);
    opacity: 0.5;
  }
  50% {
    transform: none;
    opacity: 0.25;
  }
  72% {
    transform: none;
    opacity: 0.25;
  }
  75% {
    transform: translate(2px, 6px);
    opacity: 0.5;
  }
  80% {
    transform: none;
    opacity: 0.25;
  }
  100% {
    transform: none;
    opacity: 0.25;
  }
}

.link1 {
  transform: rotate(20deg);
}

.link2 {
  transform: rotate(-15deg);
}

.link3 {
  transform: rotate(-17deg);
}

.link4 {
  transform: rotate(19deg);
}

.link5 {
  transform: rotate(14deg);
}

.link1:hover, .link2:hover, .link3:hover, .link4:hover, .link5:hover {
  transform: none;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  color: #fcfcfc;
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
  line-height: 1.8;
}

body {
  font-size: 1.2rem;
}

@media screen and (min-width: 32rem) {
  body {
    font-size: calc(1.2rem + 0.3 * ((100vw - 32rem) / 68));
  }
}

@media screen and (min-width: 100rem) {
  body {
    font-size: 1.5rem;
  }
}

a {
  text-decoration: none;
  color: #a7ffa3;
  font-weight: 500;
}

a:hover {
  color: inherit;
}

p:first-child {
  margin-top: 0;
}

p:last-child {
  margin-bottom: 0;
}

h1 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.2;
  text-shadow: -0.05em 0.05em #444;
  margin: 1em 0;
}

h1 {
  font-size: 2.2rem;
}

@media screen and (min-width: 32rem) {
  h1 {
    font-size: calc(2.2rem + 0.8 * ((100vw - 32rem) / 68));
  }
}

@media screen and (min-width: 100rem) {
  h1 {
    font-size: 3rem;
  }
}

h1:first-child {
  margin-top: 0;
}

h2 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.2;
}

h2 {
  font-size: 1.7rem;
}

@media screen and (min-width: 32rem) {
  h2 {
    font-size: calc(1.7rem + 0.4 * ((100vw - 32rem) / 68));
  }
}

@media screen and (min-width: 100rem) {
  h2 {
    font-size: 2.1rem;
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  max-width: 100%;
}

body, .wrapper, .nav-links {
  display: flex;
}

body {
  flex-direction: column;
  min-height: 100vh;
}

header, main, footer {
  width: 100%;
}

.wrapper {
  margin: 0 auto;
  padding: 2em;
  max-width: 100%;
  justify-content: center;
}

main {
  flex: 1;
  background-color: #E0DD81;
}

header, footer {
  color: #E0DD81;
  background-color: #000000;
}

.nav-content {
  width: 1000px;
  padding: 3em;
}

.logo {
  margin: 0 1.5em;
}

.logo:hover {
  animation: glitch1 .5s infinite;
}

.logo:hover:nth-child(2) {
  color: #67f3da;
  animation: glitch2 .5s infinite;
}

.logo:hover:nth-child(3) {
  color: #f16f6f;
  animation: glitch3 .5s infinite;
}

.nav-links {
  flex-direction: column;
  justify-content: space-around;
  width: 28%;
  align-items: center;
}

.flex-right {
  align-items: flex-end;
}

.flex-left {
  align-items: flex-start;
}

.main-content {
  width: 1100px;
  align-items: flex-start;
}

.content-box {
  margin: 0 .5em;
  border: 2px solid #000000;
  max-width: 100%;
  box-shadow: -0.4em 0.4em #000000;
  overflow: hidden;
}

.primary {
  padding: 2.4em;
  background-color: #9E99D5;
  width: 70%;
}

.side-container {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.side, .side2 {
  padding: 1.8em;
  background-color: #c7ab31;
  font-weight: 400;
  margin-bottom: 1em;
}

.footer-content {
  width: 1000px;
  padding: 1em;
}

.welcome {
  text-align: center;
}

.welcome {
  font-size: 1.4rem;
}

@media screen and (min-width: 32rem) {
  .welcome {
    font-size: calc(1.4rem + 0.3 * ((100vw - 32rem) / 68));
  }
}

@media screen and (min-width: 100rem) {
  .welcome {
    font-size: 1.7rem;
  }
}

.nav-links {
  letter-spacing: 0.1em;
}

.nav-links a {
  font-family: 'Work Sans', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1.5;
  -webkit-text-fill-color: transparent;
  /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #a7ffa3;
  border-top: 0.1em solid #c7ab31;
  border-bottom: 0.1em solid #c7ab31;
  padding-top: .1em;
  padding-bottom: .1em;
}

.nav-links a {
  font-size: 1.5rem;
}

@media screen and (min-width: 32rem) {
  .nav-links a {
    font-size: calc(1.5rem + 1 * ((100vw - 32rem) / 68));
  }
}

@media screen and (min-width: 100rem) {
  .nav-links a {
    font-size: 2.5rem;
  }
}

.nav-links a:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23d6bb44' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E"), url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23d6bb44' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: top, bottom;
  background-repeat: repeat-x, repeat-x;
  background-size: 20%;
  border-top: 0;
  border-bottom: 0;
  padding-top: .2em;
  padding-bottom: .2em;
}

.blog-post, .page-header {
  padding-bottom: 1.6rem;
  border-bottom: 1px solid #fcfcfc;
  margin-bottom: 3rem;
}

.page-header h1 {
  margin-bottom: 0;
}

.page-header p {
  margin-top: 0;
}

.entry-header {
  margin: 0 0 2em 0;
}

.entry-header a {
  color: #fcfcfc;
}

.entry-header--time {
  margin-bottom: .25em;
  display: block;
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: #000000;
}

.entry-header--time {
  font-size: 1rem;
}

@media screen and (min-width: 32rem) {
  .entry-header--time {
    font-size: calc(1rem + 0.3 * ((100vw - 32rem) / 68));
  }
}

@media screen and (min-width: 100rem) {
  .entry-header--time {
    font-size: 1.3rem;
  }
}

.entry-header--h1 {
  margin: 0;
  padding: 0 .25em;
  display: inline-block;
  background-color: #000000;
}

figure {
  margin: 2rem 0;
  display: block;
}

figcaption {
  font-style: italic;
  text-align: center;
  line-height: 1;
}

figcaption {
  font-size: 1rem;
}

@media screen and (min-width: 32rem) {
  figcaption {
    font-size: calc(1rem + 0.3 * ((100vw - 32rem) / 68));
  }
}

@media screen and (min-width: 100rem) {
  figcaption {
    font-size: 1.3rem;
  }
}

.bio-box {
  overflow: hidden;
}

.bio-pic {
  width: 40%;
  max-width: 100%;
  float: left;
  margin: 0 1.3em 0 0;
}

.gallery img {
  margin: 1em 0;
}

.gallery img:first-child {
  margin-top: 0;
}

.gallery img:last-child {
  margin-bottom: 0;
}

.pagination {
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
}

.pagination {
  font-size: 1rem;
}

@media screen and (min-width: 32rem) {
  .pagination {
    font-size: calc(1rem + 0.5 * ((100vw - 32rem) / 68));
  }
}

@media screen and (min-width: 100rem) {
  .pagination {
    font-size: 1.5rem;
  }
}

.hidden {
  visibility: hidden;
}

.side--h1 {
  padding: 0.4em;
  background-color: #000000;
  text-shadow: none;
}

.side--h1 {
  font-size: 1rem;
}

@media screen and (min-width: 32rem) {
  .side--h1 {
    font-size: calc(1rem + 0.4 * ((100vw - 32rem) / 68));
  }
}

@media screen and (min-width: 100rem) {
  .side--h1 {
    font-size: 1.4rem;
  }
}

.socials img {
  width: auto;
  max-width: 50%;
}

.socials li {
  margin: 0.4em 0;
}

.socials li:last-child {
  margin-bottom: 0;
}

.tooltip {
  line-height: 1;
  position: relative;
  /* making the .tooltip span a container for the tooltip text */
}

.tooltip:before {
  content: attr(data-text);
  /* here's the magic */
  position: absolute;
  margin-left: 4em;
  /* and add a small left margin */
  /* basic styles */
  padding: 0.3em;
  border-radius: 2px;
  border: solid 0.1em #fcfcfc;
  background: transparent;
  color: #fcfcfc;
  text-align: center;
  display: none;
  /* hide by default */
}

.tooltip:hover:before {
  display: block;
}
