//HEADER 

.site-nav-list__item {
  @include accentfont(uppercase);
  font-size: var(--step-3);
  letter-spacing: 0.03em;
  line-height: 1.5;
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px; 
  -webkit-text-stroke-color: var(--accent-clr);
  border-top: .1em solid var(--secondary-clr);
  border-bottom: .1em solid var(--secondary-clr);
  padding-top: .1em;
  padding-bottom: .1em;

  &:hover {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%239bb623' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E"), url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%239bb623' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
    background-position: top, bottom;
    background-repeat: repeat-x, repeat-x; 
    background-size: 20%;
    border-top: 0;
    border-bottom: 0;
    padding-top: .2em;
    padding-bottom: .2em;
  }  
}

// BURGER NAV CONTROLS

#menuToggle  {
  display: block;
  position: relative;
  top: 30px;
  left: 30px;  
  z-index: 1;  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a  {
  text-decoration: none;
  color: var(--dark-clr);
  @include accentfont (uppercase);  
  transition: color 0.3s ease;
}

#menuToggle a:hover  {
  color: var(--light-clr);
}

#menuToggle input  {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -8px;
  left: -7px;  
  cursor: pointer;  
  opacity: 0;
  z-index: 2;   
  -webkit-touch-callout: none;
}

#menuToggle span  {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;  
  background: var(--bg-clr);
  border-radius: 3px;  
  z-index: 1;  
  transform-origin: 4px 0px;  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child  {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)  {
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span  {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3)  {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);  }

#menuToggle input:checked ~ span:nth-last-child(2)  {
  transform: rotate(-45deg) translate(0, -1px);
}

.menu  {
  position: absolute;
  width: 100%;
  margin: -80px 0 0 -30px;
  padding: 120px 30px 30px 30px;
  border: solid 3px var(--dark-clr);
  background: var(--secondary-clr);
  list-style-type: none;
  -webkit-font-smoothing: antialiased;  /* to stop flickering of text in safari */  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

.menu li {
  padding: 15px 0;
  font-size: var(--step-2);
}

#menuToggle input:checked ~ ul  {
  transform: none;
}

// 

.video-container {  
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  overflow: hidden;
}


.video-container iframe  {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.blog-post-sig {
 &:after {
  content: "EgG";
  font-family: "jrugpunk", sans-serif;
  font-size: var(--step-5);
  }
}

.box-border {  
  border: 2px solid var(--dark-clr);
  box-shadow: -0.4em 0.4em var(--dark-clr);
}

.liner {
  display: flex;
  align-items: flex-start;
  gap: var(--space-2xs);

  &::before, &::after {
    content: '';
    flex-grow: 1;
    height: 2px;
    background: var(--light-clr);
    margin-block: auto;
  }

  a {
    @include accentfont (uppercase, 600);
    padding: var(--space-2xs) var(--space-xs);
    border: 2px solid var(--light-clr); 
    background-size: 100% 200%;
    background-image: linear-gradient(to top, transparent 50%, var(--secondary-clr) 50%);
    transition: all .3s ease-out;

    &:hover {
      background-position: 100% -100%;
    }
  }
}

.inline-icon {
  fill: var(--light-clr);
  vertical-align: middle;
}

.btn-contact {
  display: inline-flex;
  align-items: center;
  gap: .5em;
  padding: var(--space-3xs) var(--space-s);
  border: 2px solid var(--dark-clr);
  border-radius: 8px;
  transform: translate(0);
  font-weight: bold;
  color: var(--dark-clr);
  background: var(--accent-clr);

  svg {
    fill: var(--dark-clr);
  }
}

// GENERAL

.section-side__header, .page-header, .blog-post__title {
  display: inline-block;
}

.page-header-wrap {
  text-align: center;
  margin-bottom: var(--space-xl);

  > * {
    text-align: center;
  }
}

.page-header-wrap, .blog-post__header {
  > * + * {
    margin-top: var(--space-2xs);
  }

  > a {
    display: inline-block;
  }
}

.blog-post {
  > * + * {
    margin-top: var(--space-m);  //to add spacing between split post divs
  }
  
  > :first-child + * {    
    margin-top: var(--space-l);
  }
}

.content-body {
  > * + * {
    margin-top: var(--space-m);
  }

  > h2 {
    margin-top: var(--space-xl);
  }

   ul li, ol li {
    margin-top: var(--space-xs);
  }

  img {
    width: 100%;
  }
}

//SOCIALS

.socials-list {
  display: flex;
  justify-content: center;
  gap: 1em;

  li {
    display: inline;
  }
}

.socials-icon {
  max-width: 35px;
  height: auto;
  fill: var(--light-clr);

  &:hover {
    fill: var(--primary-clr);
  }
} 

.email, .ig, .behance, .steam {
  position: relative;
}

.email {
  &::before {
    @include popupbox; 
    transform: rotate(-9deg); 
    content: "Email me!";
 }

  &:hover::before { 
    opacity: 1;
    top: -6em;
    left: -3em;   
  }
}

.ig {
  &::before {
   @include popupbox;
   transform: rotate(-8deg);
   content: "Stalk me!";
  }
 
   &:hover::before { 
     opacity: 1;
     top: 4em;
     left: -2em;     
     
   }
 }

 .behance {
  &::before {
    @include popupbox;
    transform: rotate(9deg);  
    content: "See my art!";
  }
 
   &:hover::before { 
     opacity: 1;    
     top: -7em;
     left: -2em;   
   }
 }

 .steam {
  &::before {
    @include popupbox;
    transform: rotate(12deg);
    content: "Game with me!";
  }
 
   &:hover::before { 
     opacity: 1;     
     top: 3em;
     left: -2em;
     
   }
 }


//ARCHIVE PAGE

.archive-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 1fr;
  gap: 1em;

  li {
    height: 100%;
    padding: var(--space-m);
    background: var(--light-clr);
    color: var(--dark-clr);
    transition: .2s ease;
    
    &:hover {
      transform: translate(-0.4em, 0.4em);
      box-shadow: none;
    }
  }
}

@media (max-width: $breakpoint-2) {
  .archive-list {
    grid-template-columns: 1fr;
  }
}

//ABOUT PAGE

.bio-pic {
  max-width: 20rem;
  margin-inline: auto;
}

@media (min-width: 610px) {
  .float-md-left {
    float: left;
    margin: 0 var(--space-l) var(--space-s) 0;
  }
}

.popup {
  position: fixed;
  top: 30%;
  left: 60%;  
  transform: translate(-50%, 0);
  background: rgba(white, .8);
  z-index: 2;  
  padding: .5em;
  text-align: center;  
  color: var(--dark-clr);
  visibility: hidden;

  &:target {
    visibility: visible;
  }

  img {
    display: block;
    max-width: 100%;
    width: 400px;
    height: auto;
    margin-block: .3em;
  }

  span {    
    font-size: var(--step-0);
  }
}

.close-popup {
  font-size: var(--step-4);
  display: inline-block;
  line-height: 1;

  &:hover {
    color: white;
  }
}

//JEKYLL STYLING

.read-more {
  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition: .25s ease;
  display: none;
}

.read-more-state {
display: none;
}

.read-more-state:checked ~ .read-more {
opacity: 1;
font-size: inherit;
max-height: 999em;
display: inherit;
}

.read-more-state ~ .read-more-trigger:before {
content: 'Continue \2193';
}

.read-more-state:checked ~ .read-more-trigger:before {
content: 'Show less \2191';
}

.read-more-trigger {  
  display: inline-block;
  margin-top: var(--space-xs); //overrides blog-post child margins
  padding: 0.15em 0.3em;
  background-color: var(--light-clr);
  color: var(--primary-clr);
  font-weight: 700;
  
  &:hover {    
  background-color: var(--primary-clr);
  color: var(--light-clr);
  }
}

.back-to-top-link {
  display: inline-block;
  text-decoration: none;
  font-size: var(--step--1);
  color: var(--dark-clr);
  background-color: var(--bg-clr);
  border: 1px solid var(--dark-clr);
  padding: 0.3em 0.5em;
  position: fixed;
  bottom: 2rem;
  right: 1rem;
  z-index: 1;
}

.pagination {
  display: flex;
  @include accentfont(uppercase, 500);

  span {
    flex: 1;
  }
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

// UTILITIES

.hidden {
  visibility: hidden;
}