//HEADER 

.site-nav-list__item {
  @include accentfont(uppercase);
  font-size: var(--step-3);
  letter-spacing: 0.03em;
  line-height: 1.5;
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px; 
  -webkit-text-stroke-color: $accentcolor3;
  border-top: .1em solid $accentcolor2;
  border-bottom: .1em solid $accentcolor2;
  padding-top: .1em;
  padding-bottom: .1em;

  &:hover {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%239bb623' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E"), url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%239bb623' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
    background-position: top, bottom;
    background-repeat: repeat-x, repeat-x; 
    background-size: 20%;
    border-top: 0;
    border-bottom: 0;
    padding-top: .2em;
    padding-bottom: .2em;
  }  
}

// BURGER NAV CONTROLS

#menuToggle  {
  display: block;
  position: relative;
  top: 30px;
  left: 30px;  
  z-index: 1;  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a  {
  text-decoration: none;
  color: $darkcolor;
  @include accentfont (uppercase);  
  transition: color 0.3s ease;
}

#menuToggle a:hover  {
  color: $lightcolor;
}

#menuToggle input  {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -8px;
  left: -7px;  
  cursor: pointer;  
  opacity: 0;
  z-index: 2;   
  -webkit-touch-callout: none;
}

#menuToggle span  {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;  
  background: $accentcolor;
  border-radius: 3px;  
  z-index: 1;  
  transform-origin: 4px 0px;  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child  {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)  {
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span  {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3)  {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);  }

#menuToggle input:checked ~ span:nth-last-child(2)  {
  transform: rotate(-45deg) translate(0, -1px);
}

.menu  {
  position: absolute;
  width: 100%;
  margin: -80px 0 0 -30px;
  padding: 120px 30px 30px 30px;
  border: solid 3px $darkcolor;  
  background: $accentcolor;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;  /* to stop flickering of text in safari */  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

.menu li {
  padding: 15px 0;
  font-size: $text-2xl;
}

#menuToggle input:checked ~ ul  {
  transform: none;
}

// 

.blog-post-sig {
 &:after {
  content: "EgG";
  font-family: "jrugpunk", sans-serif;
  font-size: var(--step-5);
  }
}

.box-border {  
  border: 2px solid $darkcolor;
  box-shadow: -0.4em 0.4em $darkcolor;
}

.liner {
  display: flex;
  align-items: flex-start;
  gap: var(--space-2xs);

  &:before, &:after {
    content: '';
    flex-grow: 1;
    height: 2px;
    background: $lightcolor;
    margin-block: auto;
  }

  a {
    @include accentfont (uppercase, 600);
    padding: var(--space-3xs) var(--space-xs);
    border: 2px solid $lightcolor; 
    background-image: linear-gradient(90deg, $accentcolor2 50%, $lightcolor 50%);
    background-size: 200% 100%;
    transition: 0.2s ease-in;

    &:hover {
    color: $primboxcolor;
    background-position: -100% 100%;
    }
  }
}

// GENERAL

.section-side__header, .page-header, .blog-post__title {
  display: inline-block;
}

.page-header-wrap {
  text-align: center;
  margin-bottom: var(--space-xl);

  > * {
    text-align: center;
  }
}

.page-header-wrap, .blog-post__header {
  > * + * {
    margin-top: var(--space-2xs);
  }

  > a {
    display: inline-block;
  }
}

.blog-post {
  > * + * {
    margin-top: var(--space-m);  //to add spacing between split post divs
  }
  
  > :first-child + * {    
    margin-top: var(--space-l);
  }
}

.content-body {
  > * + * {
    margin-top: var(--space-m);
  }

  > h2 {
    margin-top: var(--space-xl);
  }

   ul li, ol li {
    margin-top: var(--space-xs);
  }

  img {
    width: 100%;
  }
}

//SOCIALS

.socials-list {
  display: flex;
  justify-content: center;
  gap: 1em;

  li {
    display: inline;
  }
}

.socials-icon {
  max-width: 35px;
  height: auto;
  fill: $lightcolor;

  &:hover {
    fill: $primboxcolor;
  }
} 

.email {
  &:before {
    @include popupbox;  
    top: 5em;
    left: 0;
    transform: rotate(-6deg);
    content: "Email me!";
 }

  &:hover:before { 
    opacity: 1;
    top: .5em;
    left: -1em;
    transform: rotate(-8deg);    
  }
}

.ig {
  &:before {
   @include popupbox;
   top: 5em;
   left: 4em;
   content: "Stalk me!";
  }
 
   &:hover:before { 
     opacity: 1;     
     top: 9em;
     left: 5em;
     transform: rotate(8deg);
     
   }
 }

 .behance {
  &:before {
    @include popupbox;
    top: 5em;
    left: 6em;
    content: "See my art!";
  }
 
   &:hover:before { 
     opacity: 1;     
     top: 0;
     left: 8em;
     transform: rotate(9deg);     
   }
 }

 .steam {
  &:before {
    @include popupbox;
    top: 5em;
    left: 8em;
    content: "Game with me!";
  }
 
   &:hover:before { 
     opacity: 1;     
     top: 8.5em;
     left: 11em;
     transform: rotate(-12deg);
     
   }
 }


//ARCHIVE PAGE

.archive-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 1fr;
  gap: 1em;

  li {
    height: 100%;
    padding: var(--space-m);
    background: $lightcolor;
    color: $darkcolor;
    transition: .2s ease;
    
    &:hover {
      transform: translate(-0.4em, 0.4em);
      box-shadow: none;
    }
  }
}

@media (max-width: $breakpoint-1) {
  .archive-list {
    grid-template-columns: 1fr;
  }
}

//ABOUT PAGE

.bio-pic {
  max-width: 20rem;
  margin-inline: auto;
}

@media (min-width: 610px) {
  .float-md-left {
    float: left;
    margin: 0 var(--space-l) var(--space-s) 0;
  }
}

.popup {
  position: fixed;
  top: 30%;
  left: 60%;  
  transform: translate(-50%, 0);
  background: rgba(white, .8);
  z-index: 2;  
  padding: .5em;
  text-align: center;  
  color: $darkcolor;
  visibility: hidden;

  &:target {
    visibility: visible;
  }

  img {
    display: block;
    max-width: 100%;
    width: 400px;
    height: auto;
    margin-block: .3em;
  }

  span {    
    font-size: var(--step-0);
  }
}

.close-popup {
  font-size: var(--step-4);
  display: inline-block;
  line-height: 1;

  &:hover {
    color: white;
  }
}

//JEKYLL STYLING

.read-more {
  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition: .25s ease;
  display: none;
}

.read-more-state {
display: none;
}

.read-more-state:checked ~ .read-more {
opacity: 1;
font-size: inherit;
max-height: 999em;
display: inherit;
}

.read-more-state ~ .read-more-trigger:before {
content: 'Continue \2193';
}

.read-more-state:checked ~ .read-more-trigger:before {
content: 'Show less \2191';
}

.read-more-trigger {  
  display: inline-block;
  margin-top: var(--space-xs); //overrides blog-post child margins
  padding: 0.15em 0.3em;
  background-color: $lightcolor;
  color: $primboxcolor;
  font-size: $text-sm;
  font-weight: 700;
  
  &:hover {    
  background-color: $primboxcolor;
  color: $lightcolor;
  }
}

.back-to-top-link {
  display: inline-block;
  text-decoration: none;
  font-size: $text-sm;
  color: $darkcolor;
  background-color: $accentcolor;
  border: 1px solid $darkcolor;
  padding: 0.3em 0.5em;
  position: fixed;
  bottom: 2rem;
  right: 1rem;
  z-index: 1;
}

.pagination {
  display: flex;
  justify-content: space-between; 
  @include accentfont(uppercase, 500);
}

// UTILITIES

.hidden {
  visibility: hidden;
}