//HEADER 
.site-nav li:not(.logo) {
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px; 
  -webkit-text-stroke-color: var(--primary-clr);
  border-block: .2em solid var(--secondary-clr);
  padding-block: var(--space-3xs);
  transform: rotate(-20deg);
  transition: transform .2s ease-in-out;
  &:nth-child(3n+1) {  
    transform: rotate(20deg);
    transition: transform .2s ease-in-out;
  }
  &:hover {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%239bb623' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E"), url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%239bb623' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
    background-position: top, bottom;
    background-repeat: repeat-x, repeat-x; 
    background-size: 20%;
    border-block: 0;
    padding-block: var(--space-2xs);
    transform: rotate(0);
  }
}
// BURGER NAV CONTROLS
#menuToggle  {
  display: block;
  position: relative;
  top: 35px;
  left: 35px;  
  z-index: 1;  
  -webkit-user-select: none;
  user-select: none;
  
  a {
    color: var(--dark-clr);
    transition: color 0.3s ease;
  
    &:hover  {
      color: var(--light-clr);
    }
  }

  input  {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -8px;
    left: -7px;  
    cursor: pointer;  
    opacity: 0;
    z-index: 2;   
    -webkit-touch-callout: none;
  }

  span  {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;  
    background: var(--accent-clr);
    border-radius: 3px;  
    z-index: 1;  
    transform-origin: 4px 0px;  
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;

    &:first-child  {
    transform-origin: 0% 0%;
    }

    &:nth-last-child(2)  {
      transform-origin: 0% 100%;
    }
  }

  input:checked ~ span  {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
  }

  input:checked ~ span:nth-last-child(3)  {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2); 
  }

  input:checked ~ span:nth-last-child(2)  {
    transform: rotate(-45deg) translate(0, -1px);
  }

  input:checked ~ ul  {
    transform: none;
  }
}

.site-nav-mobile  {
  position: absolute;
  width: 100%;
  margin: -62px 0 0 -35px;
  padding: 80px 35px 35px 35px;
  border: solid 3px var(--dark-clr);
  background: var(--accent-clr);
  -webkit-font-smoothing: antialiased;  /* to stop flickering of text in safari */  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  
  li {
    padding: 10px 0;
    font-size: var(--step-4);
  }
}

// 

svg {
  vertical-align: middle;
  max-width: 100%;
}

.video-container {  
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  overflow: hidden;
}

.video-container iframe  {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.blog-post-sig {
 &:after {
  content: "EgG";
  font-family: "jrugpunk", sans-serif;
  font-size: var(--step-5);
  }
}

.box-border {  
  border: 2px solid var(--dark-clr);
  box-shadow: -0.4em 0.4em var(--dark-clr);
}

.comments-link, .comment-section-title {
  display: flex;
  align-items: flex-start;
  gap: var(--space-2xs);

  &::before, &::after {
    content: '';
    flex-grow: 1;
    height: 2px;
    background: var(--light-clr);
    margin-block: auto;
  }
}

.comments-link {
  a {
    font-family: var(--ss-font);
    font-weight: 500;
    padding: var(--space-3xs) var(--space-xs);
    border: 2px solid; 
    background-size: 100% 200%;
    background-image: linear-gradient(to top, transparent 50%, var(--secondary-clr) 50%);
    transition: all .3s ease-out;

    &:hover {
      background-position: 100% -100%;
    }
  }

  svg {
  fill: var(--light-clr);
  }
}

.btn-contact {
  display: inline-flex;
  align-items: center;
  gap: .5em;
  padding: var(--space-3xs) var(--space-s);
  border: 2px solid;
  border-radius: 8px;
  font-weight: bold;
  color: var(--dark-clr);
  background: var(--accent-clr);
}

// GENERAL
.page-header-wrap, .page-header-wrap > *, .blog-post__header, .blog-post__header > * {
  text-align: center;
}

.page-header-wrap > * + * {
  margin-top: var(--space-s);
}

.page-header {
  display: inline-block;
}

.meta-sharelinks {
    margin-top: var(--space-xs);

  svg {
    width: 28px;
    transition: 0.2s ease;
    fill: var(--light-clr);
    
    &:hover {
      fill: var(--accent-clr);
    }
  }
}

.blog-post > * + * {
  margin-top: var(--space-m);
}

.content-body {
  margin-top: var(--space-l); 

  > * + * {
    margin-top: var(--space-m);
  }

  > h2 {
    margin-top: var(--space-xl);
  }

   ul li, ol li {
    margin-top: var(--space-xs);
  }

  img {
    width: 100%;
  }
}

.content-body--split {
  margin-top: 0;
}

//SOCIALS
.socials-list {
  display: flex;
  justify-content: center;
  gap: 1em;

  li {
    display: inline;
  }

  svg {
  width: 38px;
  fill: var(--light-clr);

    &:hover {
      fill: var(--accent-clr);
    }
  }
} 

.email, .ig, .behance, .steam {
  position: relative;
}

.email {
  &::before {
    @include popupbox; 
    content: "Email me!";
 }

  &:hover::before { 
    opacity: 1;
    top: -6em;
    left: -3em;   
    transform: rotate(-9deg); 
  }
}

.ig {
  &::before {
   @include popupbox;
   content: "Stalk me!";
  }
 
   &:hover::before { 
     opacity: 1;
     top: 4em;
     left: -2em;     
     transform: rotate(-8deg);
     
   }
 }

 .behance {
  &::before {
    @include popupbox;
    content: "See my art!";
  }
 
   &:hover::before { 
     opacity: 1;    
     top: -7em;
     left: -2em;  
     transform: rotate(12deg);   
   }
 }

 .steam {
  &::before {
    @include popupbox;
    content: "Game with me!";
  }
 
   &:hover::before { 
     opacity: 1;     
     top: 3em;
     left: -1em;
     transform: rotate(-12deg);
     
   }
 }

//ARCHIVE PAGE
.archive-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;

  li {
    height: 100%;
    padding: var(--space-m);
    background: var(--light-clr);
    color: var(--dark-clr);
    transition: .1s ease;
    
    &:hover {
      transform: translate(-0.4em, 0.4em);
      box-shadow: none;
    }
  }
}

//ABOUT PAGE
.bio-pic {
  max-width: 20rem;
  margin-inline: auto;
}

@media (min-width: $breakpoint-2) {
  .float-md-left {
    float: left;
    margin: 0 var(--space-l) var(--space-s) 0;
  }
}

.popup {
  position: fixed;
  top: 20%;
  left: 50%;  
  transform: translate(-50%, 0);
  visibility: hidden;
  z-index: 2;  
  padding-inline: .25em;
  background: var(--accent-clr);
  border: 2px solid var(--dark-clr);
  color: var(--dark-clr);  

  &:target {
    visibility: visible;
  }

  img {
    display: block;
    max-width: 100%;
    width: 400px;
  }

  p {
    text-align: center;
  }
}

.close {
  font-size: var(--step-2);
  line-height: 1;

  &:hover {
    color: white;
  }
}

//JEKYLL STYLING
.read-more {
  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition: .25s ease;
  display: none;
}

.read-more-state {
display: none;
}

.read-more-state:checked ~ .read-more {
opacity: 1;
max-height: 999em;
font-size: inherit;
display: inherit;
}

.read-more-state ~ .read-more-trigger:before {
content: 'Continue \2193';
}

.read-more-state:checked ~ .read-more-trigger:before {
content: 'Show less \2191';
}

.read-more-trigger {  
  display: inline-block;
  padding-inline: 0.3em;
  background-color: var(--light-clr);
  color: var(--primary-clr);
  font-size: var(--step--1);
  font-weight: bold;
  transition: 0.3s ease;
  
  &:hover {    
  background-color: var(--primary-clr);
  color: var(--light-clr);
  }
}

.back-to-top-link {
  display: inline-block; 
  position: fixed;
  bottom: 2rem;
  right: 1rem;
  z-index: 2;
  padding: 0.3em 0.5em;
  color: var(--dark-clr);
  background-color: var(--accent-clr);
  border: 1px solid;
  font-size: var(--step--1);
  
}

.pagination {
  display: flex;

  > * {
    flex: 1;
  }
}

// UTILITIES
.right {
  text-align: right;
}

.center {
  text-align: center;
}