// BASE STRUCTURE

body, .wrapper, .site-header--nav {
  display: flex;
}

body {
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

main {
  flex: 1;
  background-color: $accentcolor;
}

header, footer {
  color: $accentcolor;
  background-color: $darkcolor;
}

.wrapper {
  margin: 3em auto;
  width: calc(100% - 2em);
  justify-content: center;
}


.site-header, .site-main, .side-box-wrap {
  gap: 1.5em;
}

// HEADER


.site-header--nav {
  flex-direction: column;
  justify-content: center;
  width: 14em;
  gap: 6em;
  text-align: center;
}

@media (max-width:991.98px) {
  .site-header--link {
    font-size: $text-2xl;
  }
}

@media (max-width: 767.98px) {    
  .site-header--logo {
    width: 250px;
    height: auto;
  }
  .site-header--link {
    font-size: $text-2xl;
  }
}

.burger {
  display: none;
}

// ACTIVATE BURGER NAV

@media (max-width: 635px) {
  .site-header--logo {
    width: 200px;
    height: auto;
  }

  .site-header--nav {
    display: none;
  }

 .burger{
    display: block;
  }
}  

// BURGER NAV CONTROLS

#menuToggle  {
  display: block;
  position: relative;
  top: 50px;
  left: 50px;  
  z-index: 1;  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a  {
  text-decoration: none;
  color: $darkcolor;
  @include accentfont;  
  transition: color 0.3s ease;
}

#menuToggle a:hover  {
  color: $lightcolor;
}

#menuToggle input  {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;  
  cursor: pointer;  
  opacity: 0;
  z-index: 2;   
  -webkit-touch-callout: none;
}

#menuToggle span  {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;  
  background: $accentcolor3;
  border-radius: 3px;  
  z-index: 1;  
  transform-origin: 4px 0px;  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child  {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)  {
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span  {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3)  {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);  }

#menuToggle input:checked ~ span:nth-last-child(2)  {
  transform: rotate(-45deg) translate(0, -1px);
}

.menu  {
  position: absolute;
  width: 100%;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  border: solid 3px $darkcolor;  
  background: $accentcolor3;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

.menu li {
  padding: 10px 0;
  font-size: $text-3xl;
}

#menuToggle input:checked ~ ul  {
  transform: none;
}

// MAIN

.site-main {
  align-items: flex-start;
}

.side-box-wrap {
  width: 15em;  
  max-width: 100%;  
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 1em;
  max-height: calc(100vh - 2em);
}

.primary-box {
  width: 45em;
  max-width: 100%;
  padding: 3em;
  background-color: $primboxcolor;
}

.side-box {
  padding: 1.2em;
  background-color: $accentcolor2;
  font-weight: 400;  
  text-align: center;overflow-y: scroll;
  scrollbar-color: $darkcolor $accentcolor2;
  scrollbar-width: thin;  
  word-break: break-word;
}


@media (max-width:991.98px) {
  .site-main {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .side-box-wrap {
    width: 17em; //increase when add second side box
    order: 2;
    justify-content: center;
    position: static;
    flex-direction: row;
  }

  .side-box {
    overflow: hidden;
  }
}

// FOOTER
    
.site-footer {
  margin-top: 1em; //override default wrapper margin
  margin-bottom: 1em; //override default wrapper margin
  font-size: $text-sm;
}

@media (max-width: 767.98px) {  
   .site-footer {
   font-size: $text-xs;
  }
}