// BASE STRUCTURE

body {
  height: 100vh;
}

main {
  flex: 1;
  background-color: var(--accent-clr);
}

header, footer {
  background-color: var(--dark-clr);
}

body, .site-nav-list, .flex-wrap, .section-side-wrap {
  display: flex;
}

body, .site-nav-list, .section-side-wrap {  
  flex-direction: column;
}

.flex-wrap {
  margin: 4rem auto;
  width: calc(100% - 4rem);
  justify-content: center;
  gap: 2rem;
}

// HEADER
.logo {    
  width: 300px;
  height: auto;
}

@media (max-width: $breakpoint-1) {  
  .logo {
    max-width: 250px;
  }  
}

.site-nav-list {
  justify-content: center;  
  text-align: center;
  max-width: 15rem;
  gap: 6em;
}

.burger {
  display: none;
}

// ACTIVATE BURGER NAV

@media (max-width: $breakpoint-1) {
  .site-nav-list {
    display: none;
  }

 .burger{
    display: block;
  }
}  


// MAIN

.flex-wrap--main {
  align-items: flex-start;
}

.section-primary {
  width: 55rem;
  padding: var(--space-l-xl);
  background-color: var(--primary-clr);

  > * + * {
    margin-top: var(--space-xl);
  }
}

.section-side-wrap {
  gap: 2rem;
}

.section-side {
  width: 20rem;
  padding: var(--space-s);
  background-color: var(--secondary-clr);
  text-align: center;
}

.section-primary, .section-side-wrap, .section-side {
  max-width: 100%;
}

@media (max-width: 1016.98px) {
  .flex-wrap--main {
    flex-direction: column;
    align-items: center;
  }

  .section-side-wrap {
    flex-flow: row wrap;
    justify-content: center;
    order: 2;
  }
}

// FOOTER
    
.flex-wrap--footer {
  margin-block: 1rem; //override default wrapper margin
}