// BASE STRUCTURE

body, .wrapper, .site-header--nav {
  display: flex;
}

body {
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

main {
  flex: 1;
  background-color: $accentcolor;
}

header, footer {
  color: $accentcolor;
  background-color: $darkcolor;
}

.wrapper {
  margin: 3rem auto;
  width: calc(100% - 3rem);
  justify-content: center;
}

.site-header, .site-main, .side-box-wrap {
  gap: 1rem;
}

// HEADER

img.site-header--logo {
  min-width: 225px;
  max-width: 300px;
  height: auto;
}

@media (max-width: $breakpoint-1) {  
  img.site-header--logo {
    min-width: unset;
    max-width: 225px;
  }
}

.site-header--nav {
  flex-direction: column;
  justify-content: center;
  width: 15rem;
  gap: 6em;
  text-align: center;
}

.burger {
  display: none;
}

// ACTIVATE BURGER NAV

@media (max-width: $breakpoint-1) {
  .site-header--nav {
    display: none;
  }

 .burger{
    display: block;
  }
}  


// MAIN

.site-main {
  align-items: flex-start;
  margin-bottom: 5rem; //override initial wrapper margin
}

.side-box-wrap {
  max-width: 100%;  
  display: flex;
  flex-direction: column;
  position: -webkit-sticky; /* Safari */  
  position: sticky;
  top: 3rem;
}

.side-box {
  text-align: center;
  width: 20rem;
  padding: var(--space-s);
  background-color: $accentcolor2;
}

.primary-box {
  width: 52rem;
  max-width: 100%;
  padding: var(--space-xl);
  background-color: $primboxcolor;
}

@media (max-width: 1016.98px) {
  .site-main {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .side-box-wrap {
    order: 2;
    justify-content: center;
    flex-direction: row;
  }
}

// FOOTER
    
.site-footer {
  margin-block: 1rem; //override default wrapper margin
}