@mixin primaryfont {
  font-family: 'Roboto Mono', monospace;
  font-weight: 400; 
}

@mixin accentfont($texttransform, $fontweight: 700) {
  font-family: 'Work Sans', sans-serif;
  font-weight: $fontweight;
  text-transform: $texttransform;
}

@mixin grungefont {
  font-family: 'jrugpunk', 'Work Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

@mixin popupbox {
  position: absolute;
  word-break:initial;
  pointer-events: none;
  z-index: 2;
  color: var(--dark-clr);
  background-color: var(--light-clr);    
  box-shadow: -5px 5px var(--dark-clr);
  font-size: var(--step--1); 
  line-height: 1em; 
  padding: .5em;
  opacity: 0;
  top: 0;
  left: 0;
  width: 7em;  
  transition: all 0.4s cubic-bezier(0.2, 0.5, 0.15, 1.5);
  -moz-transition: all 0.4s cubic-bezier(0.2, 0.5, 0.15, 1.5);
 -o-transition: all 0.4s cubic-bezier(0.2, 0.5, 0.15, 1.5);
 -webkit-transition: all 0.4s cubic-bezier(0.2, 0.5, 0.15, 1.5);
}
