//HEADER 

.site-header--logo {
  max-width: 100%;
  height: auto;
}

.glitch-hover {

  &:hover {
    animation: glitch1 .5s infinite;
    
    &:nth-child(2) {
      color: #67f3da;
      animation: glitch2 .5s infinite;
      }
    
    &:nth-child(3) {
      color: #f16f6f;
      animation: glitch3 .5s infinite;
      }
    }  
}

// BURGER NAV CONTROLS

#menuToggle  {
  display: block;
  position: relative;
  top: 50px;
  left: 50px;  
  z-index: 1;  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a  {
  text-decoration: none;
  color: $darkcolor;
  @include accentfont;  
  transition: color 0.3s ease;
}

#menuToggle a:hover  {
  color: $lightcolor;
}

#menuToggle input  {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;  
  cursor: pointer;  
  opacity: 0;
  z-index: 2;   
  -webkit-touch-callout: none;
}

#menuToggle span  {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;  
  background: $accentcolor3;
  border-radius: 3px;  
  z-index: 1;  
  transform-origin: 4px 0px;  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child  {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)  {
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span  {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3)  {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);  }

#menuToggle input:checked ~ span:nth-last-child(2)  {
  transform: rotate(-45deg) translate(0, -1px);
}

.menu  {
  position: absolute;
  width: 100%;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  border: solid 3px $darkcolor;  
  background: $accentcolor3;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

.menu li {
  padding: 10px 0;
  font-size: $text-3xl;
}

#menuToggle input:checked ~ ul  {
  transform: none;
}

// MAIN SECTION

.primary-box img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.blog-post {
  padding-bottom: 2em;
  border-bottom: 1px solid $lightcolor;
}

* + .blog-post {
  margin-top: 3em;
}

//ABOUT PAGE

.bio-box {
  margin-bottom: 2em;
  overflow: hidden; //to clear block elements after it
}

.bio-box--pic {
  float: left;
  max-width: 17em;
  margin: 0 1.5em 1em 0;

  img {
    margin: 0;
    width: 100%;
  }
}

@media (max-width: 767.98px) {

  .bio-box--pic {
    max-width: 16em;    
  }
}

@media (max-width: 635px) {
  .bio-box--pic {    
    float: none;
    margin-left: auto;
    margin-right: auto;    
  }
}

//GALLERY PAGE

.gallery {

  img + img {
    margin-top: 3em;
  }
}


//SIDE BOX

.socials {
  margin-top: .5em;

  li {
    display: inline;
    margin: 0.15em;
  }
}

.socials--icon {
  width: 30px;
  height: 30px;
  fill: $lightcolor;
  position: relative;

  &:hover {
    fill: $primboxcolor;
  }
} 

a.email {

 &:before {
  @include popupbox;
  transform: rotate(-6deg);
  content: "Email me!";
 }

  &:hover:before { 
    opacity: 1;
    top: -16px;
    left: -15px;
    transform: rotate(-8deg);    
  }
}

a.ig {

  &:before {
   @include popupbox;
   content: "Stalk me!";
  }
 
   &:hover:before { 
     opacity: 1;     
     top: 145px;
     left: 55px;
     transform: rotate(4deg);
     
   }
 }

 a.behance {

  &:before {
   @include popupbox;
   content: "See my art!";
  }
 
   &:hover:before { 
     opacity: 1;     
     top: -30px;
     left: 110px;
     transform: rotate(7deg);
     
   }
 }

 a.steam {

  &:before {
   @include popupbox;
   content: "Game with me!";
  }
 
   &:hover:before { 
     opacity: 1;     
     top: 150px;
     left: 145px;
     transform: rotate(-12deg);
     
   }
 }

//JEKYLL STYLING

.pagination {
  @include accentfont(500, uppercase);
  display: flex;
  justify-content: space-between;
  margin-top: 2em;
}

.read-more {
  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition: .25s ease;
  display: none;
}

.read-more-state {
display: none;
}

.read-more-state:checked ~ .read-more {
opacity: 1;
font-size: inherit;
max-height: 999em;
display: inherit;
}

.read-more-state ~ .read-more-trigger:before {
content: 'Continue reading \2193';
}

.read-more-state:checked ~ .read-more-trigger:before {
content: 'Show less \2191';
}

.read-more-trigger {
  padding: 0.15em 0.3em;
  background-color: $lightcolor;
  color: $primboxcolor;
  display: inline-block;
  font-size: $text-sm;
  text-align: center;
  font-weight: 800;
  &:hover {    
  background-color: $primboxcolor;
  color: $lightcolor;
  }
}

.back-to-top-link {
  display: inline-block;
  text-decoration: none;
  font-size: $text-sm;
  text-align: center;
  color: $darkcolor;
  background-color: $accentcolor;
  border: 1px solid $darkcolor;
  padding: 0.3em 0.5em;
  position: fixed;
  bottom: 2em;
  right: 2em;
}

// REUSEABLES

.box-border {  
  border: 2px solid $darkcolor;
  box-shadow: -0.4em 0.4em $darkcolor;
}

.hidden {
  visibility: hidden;
}

.center-text {
  text-align: center;
}