// MAIN

.content-body a:not([class]) {
  position: relative;
  overflow: hidden;
  z-index: 2;
  
  &::after {
    position: absolute;
    content: "";
    background: rgba(var(--accent-clr), 0.5);
    left: 8px;
    bottom: -4px;
    width: calc(100% - 4px);
    height: calc(100% - 8px);
    transition: 0.35s cubic-bezier(0.25, 0.1, 0, 2.05);
    z-index: -1;
  }

  &:hover:after {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }

  &.removelinkstyle:after {
    display: none;
  }
}


//HEADERS

.page-header {
  position: relative; 
  z-index: 0;

  @include grungefont;

  &::before {    
    content: " ";
    height: 85%;
    width: 100%;
    margin-left: -4px;
    margin-right: -4px;
    position: absolute;
    transform: rotate(2deg);
    top: 7px;
    left: -1px;
    border-radius: 16% 12% 13% 14%;
    padding: 10px 3px 3px 10px;
    z-index: -1;
    background: var(--dark-clr);
  }
}

.section-side__header {
  padding-bottom: var(--space-3xs);
  border-bottom: 2px solid var(--light-clr);
  margin-bottom: var(--space-s);

  font-size: var(--step-2);
  text-shadow: -1px 1px var(--dark-clr);
  text-transform: uppercase;
}

//BLOG

.blog-post__time {
  @include accentfont (uppercase, 500);
  color: var(--dark-clr);
}

h1.blog-post__title {
  display: inline;
  padding: var(--space-3xs) var(--space-xs);
  background-color: var(--light-clr);
  border: 1px solid var(--dark-clr);
  box-shadow: -3px 3px var(--dark-clr);
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;

  font-size: 2em;
  text-transform: initial;
  line-height: 1.5;
  color: var(--dark-clr);
}

// ARCHIVE

.archive-list__title {
  border-bottom: 2px solid var(--dark-clr);
  font-size: 1.5em;
  text-transform: initial;
}

.archive-list__date {
  @include accentfont(null, 500);
}

.archive-list__category {
  margin-top: var(--space-xs);

  font-style: italic;
  font-size: .75em;

  &:before {
    content:'Filed under: ';
  }
}

figcaption {
  font-size: var(--step--1);
  font-style: italic;
  text-align: center;
}

.pagination, footer {
  font-size: var(--step--1);
} 