.site-nav a, .site-nav-mobile a, .comments-link, .pagination, .blog-post__date, .archive-list__date {
  font-family: var(--ss-font);
  text-transform: uppercase;
}

.site-nav a, .site-nav-mobile a, .comments-link, .pagination {  
  font-weight: bold;
}

.site-nav a {
  line-height: 1;  
  font-size: var(--step-3);
  letter-spacing: 0.03em;
  display: block;
}

// MAIN
.content-body a:not([class]) {
  position: relative;
  overflow: hidden;
  z-index: 1;
  
  &::after {
    position: absolute;
    content: "";
    background: var(--accent-clr);
    left: 7px;
    bottom: -3px;
    width: calc(100% - 5px);
    height: 25%;
    transition: 0.35s cubic-bezier(0.25, 0.1, 0, 2.05);
    z-index: -1;
  }

  &:hover:after {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }
}

//HEADERS
.page-header {
  position: relative; 
  z-index: 0;
  font-family: var(--accent-font);
  text-transform: uppercase;
  &::before {    
    content: " ";
    height: 85%;
    width: 100%;
    margin-left: -4px;
    margin-right: -4px;
    position: absolute;
    transform: rotate(2deg);
    top: 7px;
    left: -1px;
    border-radius: 16% 12% 13% 14%;
    padding: 10px 3px 3px 10px;
    z-index: -1;
    background: var(--dark-clr);  
  }
}

.section-side__header {
  display: block;
  color: var(--dark-clr);
  padding-bottom: var(--space-3xs);
  border-bottom: 2px solid;
  margin-bottom: var(--space-s);

  font-size: var(--step-1);
  text-transform: uppercase;
}

//BLOG
.blog-post__header {
  color: var(--dark-clr);
}

.blog-post__date, .archive-list__date {
  font-weight: 500;
}

.blog-post__title {
  display: inline;
  padding: var(--space-3xs) var(--space-xs);
  background-color: var(--light-clr);
  border: 1px solid;
  box-shadow: -3px 3px;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;

  font-size: var(--step-3);
  line-height: 1.5;
}

// ARCHIVE
.archive-list__title {
  border-bottom: 2px solid;
  font-size: var(--step-1);
}

.archive-list__category {  
  font-style: italic;

  &:before {
    content:'Filed under: ';
  }
}

figcaption {
  font-size: var(--step--1);
  font-style: italic;
  text-align: center;
}

.flex-wrap--footer {  
  font-weight: 300;
  font-size: var(--step--1);
}