$darkcolor: #000000;
$accentcolor: #d6e081;
$accentcolor2: #babd1c;
$accentcolor3: #a7ffa3;
$primboxcolor: #9E99D5;
$lightcolor: #fcfcfc;
$textshadow: #444;

$text-xs: 0.75em;
$text-sm: 0.875em;
$text-base: 1em;

$text-lg: 1.125em; //unused
$text-xl: 1.25em; //unused
$text-2xl: 1.6em; 

$text-3xl: 1.875em;
$text-4xl : 2.225em;