$darkcolor: #000000;
$accentcolor: #E0DD81;
$accentcolor2: #c7ab31;
$accentcolor3: #a7ffa3;
$primboxcolor: #9E99D5;
$lightcolor: #fcfcfc;
$textshadow: #444;

$text-xs: 0.75em;
$text-sm: 0.875em;
$text-base: 1em;

$text-lg: 1.125em; //unused
$text-xl: 1.25em; //unused
$text-2xl: 1.6em; //unused

$text-3xl: 1.875em;
$text-4xl: 2.25em;

$items: 4;
$transition-duration: 0.5s;
$transition-delay: 0.05s;