$darkcolor: #000000e0;
$accentcolor: #ecee71;
$accentcolor2: #a5b933;
$accentcolor3: #a7ffa3;
$primboxcolor: #9E99D5;
$lightcolor: #fffff1;
$textshadow: #444;

$text-xs: 0.75em;
$text-sm: 0.875em;
$text-base: 1em;
$text-lg: 1.125em;
$text-xl: 1.25em; 
$text-2xl: 1.6em; 
$text-3xl: 1.875em;
$text-4xl : 2.225em;

$breakpoint-1: 575.98px;
$breakpoint-2: 767.98px;
$breakpoint-3: 991.98px;