.section-primary-wrap {
  > * + * {
    margin-top: var(--space-l);
  }
}

.section-primary {
  > * + * {
    margin-top: var(--space-xl);
  }
}

.page-header__desc {
  margin-top: var(--space-s);
}

.float-md-left + p {
  margin-top: 0;
}

.content-body { 
  > * + * {
    margin-top: var(--space-m);
  }

  > * + h2, * + h3 {
    margin-top: var(--space-xl);
  }

   ul li, ol li {
    margin-top: var(--space-xs);
  }
}

.blog-post > * + * {
  margin-top: var(--space-l);
}

.blog-post__header > * + * {
  margin-top: var(--space-xs);
}

.content-body + .content-body {
  margin-top: 0;
}