main {
  flex: 1;
  background: var(--bg-clr);
  transition: .6s ease;
}

body, .flex-wrap, .section-side-wrap {
  display: flex;
}

body, .flex-wrap--main {  
  flex-direction: column;
}

.flex-wrap {
  width: calc(100% - 4rem);
  justify-content: center;
  gap: 2rem;
}

.flex-wrap--header {
  margin: var(--space-2xl) auto;
}

.flex-wrap--main {
  margin: var(--space-xl) auto;
}

.flex-wrap--footer {
  margin: var(--space-m) auto;
}