main {
  flex: 1;
  background: var(--bg-clr);
  transition: .6s ease;
}

body, .flex-wrap, .section-side-wrap {
  display: flex;
}

body, .flex-wrap--main {  
  flex-direction: column;
}

.flex-wrap {
  max-width: calc(100% - 4rem);
  justify-content: center;
}

.flex-wrap--header {
  margin: var(--space-2xl) auto;
}

.flex-wrap--main {
  margin: var(--space-xl) auto;  
  align-items: center;
  gap: 4rem;
}

.flex-wrap--footer {
  margin: var(--space-m) auto;
}

.section-primary, .section-side {
  border: 4px solid var(--dark-clr);
  box-shadow: -8px 8px var(--dark-clr);  
  transition: .6s ease;  
}

.section-primary-wrap {
  width: 54rem;
}

.section-primary {  
  padding: var(--space-l-xl);
  background-color: var(--primary-clr);
}

.section-side-wrap {
  gap: 2rem;
  justify-content: center;
  flex-flow: row wrap;
}

.section-side {
  width: 19rem;
  padding: var(--space-s);
  background-color: var(--secondary-clr);
}

.section-primary-wrap, .section-primary, .section-side-wrap, .section-side, .section-primary-wrap--no-width {
  max-width: 100%;
}

@media (min-width: $breakpoint-4) {
  .flex-wrap--main {
    flex-direction: row;
    align-items: flex-start;
  } 
  .section-side-wrap {
    flex-flow: column;
  }
}

.site-nav {  
  li:not(.logo) {
    display: none;
  }

  .logo {
    max-width: 250px;
  }
}

@media (min-width: $breakpoint-2) { 
  .site-nav {    
    display: grid;
    justify-items: center;
    align-items: center;
    grid-auto-flow: column;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    gap: var(--space-xl) var(--space-m);

    li:not(.logo) {
    text-align: center;
    display: inline-block;
    }

    .logo {
      max-width: 300px;
      grid-area: 1 / 2 / -1 / span 1;
    }
  }

  .burger {
    display: none;
  }
}