.flex-wrap--main {
  align-items: center;
}

.section-primary {
  width: 54rem;  
  padding: var(--space-l-xl);
  background-color: var(--primary-clr);
}

.section-side-wrap {
  gap: 2rem;
  justify-content: center;
  flex-flow: row wrap;
}

.section-side {
  align-self: flex-start;

  width: 21rem;
  padding: var(--space-s);
  background-color: var(--secondary-clr);
}

.section-primary, .section-side-wrap, .section-side {
  max-width: 100%;
}

@media (min-width: $breakpoint-4) {
  .flex-wrap--main {
    flex-direction: row;
    align-items: flex-start;
  } 
  .section-side-wrap {
    flex-flow: column;
  }
}