html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  color: #fcfcfc;
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
}

body {
  font-size: 1.2rem;
}

@media screen and (min-width: 32rem) {
  body {
    font-size: calc(1.2rem + 0.3 * ((100vw - 32rem) / 68));
  }
}

@media screen and (min-width: 100rem) {
  body {
    font-size: 1.5rem;
  }
}

a {
  text-decoration: none;
  color: #fcc9c9;
}

a:hover {
  color: inherit;
}

p:first-child {
  margin-top: 0;
}

p:last-child {
  margin-bottom: 0;
}

h1 {
  margin-top: 0;
  font-family: 'Work Sans', sans-serif;
  font-weight: 700;
}

h1 {
  font-size: 2rem;
}

@media screen and (min-width: 32rem) {
  h1 {
    font-size: calc(2rem + 0.5 * ((100vw - 32rem) / 68));
  }
}

@media screen and (min-width: 100rem) {
  h1 {
    font-size: 2.5rem;
  }
}

h2 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 700;
}

h2 {
  font-size: 1.8rem;
}

@media screen and (min-width: 32rem) {
  h2 {
    font-size: calc(1.8rem + 0.4 * ((100vw - 32rem) / 68));
  }
}

@media screen and (min-width: 100rem) {
  h2 {
    font-size: 2.2rem;
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  max-width: 100%;
}

body, .wrapper, .nav-links {
  display: flex;
}

body {
  flex-direction: column;
  min-height: 100vh;
}

header, main, footer {
  width: 100%;
}

.wrapper {
  margin: 0 auto;
  padding: 2em;
  width: 1200px;
  max-width: 100%;
  justify-content: center;
}

main {
  flex: 1;
  background-color: #E0DD81;
}

header, footer {
  color: #E0DD81;
  background-color: #000000;
}

.logo {
  margin: 0 1em;
}

.logo:hover {
  animation: glitch1 .5s infinite;
}

.logo:hover:nth-child(2) {
  color: #67f3da;
  animation: glitch2 .5s infinite;
}

.logo:hover:nth-child(3) {
  color: #f16f6f;
  animation: glitch3 .5s infinite;
}

.nav-links {
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 22%;
}

.nav-links a {
  -webkit-text-fill-color: transparent;
  /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fcc9c9;
  border-top: 0.1em solid #c7ab31;
  border-bottom: 0.1em solid #c7ab31;
  padding-top: .1em;
  padding-bottom: .1em;
}

.nav-links a:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23d6bb44' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E"), url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23d6bb44' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: top, bottom;
  background-repeat: repeat-x, repeat-x;
  background-size: 20%;
  border-top: 0;
  border-bottom: 0;
  padding-top: .2em;
  padding-bottom: .2em;
}

.main-content {
  align-items: flex-start;
}

.content-box {
  margin: 0 .5em;
  padding: 2em 2em 3em;
  border: 2px solid #000000;
  max-width: 100%;
  box-shadow: -0.3em 0.3em #999999;
  overflow: hidden;
}

.primary {
  background-color: #9E99D5;
  width: 70%;
}

.side {
  background-color: #c7ab31;
  width: 35%;
  min-height: 12em;
}

.footer-content {
  padding: 1em;
}

.nav-links {
  font-family: 'Work Sans', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1.5;
}

.nav-links {
  font-size: 1.8rem;
}

@media screen and (min-width: 32rem) {
  .nav-links {
    font-size: calc(1.8rem + 0.7 * ((100vw - 32rem) / 68));
  }
}

@media screen and (min-width: 100rem) {
  .nav-links {
    font-size: 2.5rem;
  }
}

.blog-post {
  padding-bottom: 2em;
  border-bottom: 1px solid #fcfcfc;
  margin-bottom: 2em;
}

.blog-post:last-child, .blog-post:only-child {
  padding-bottom: 0;
  border-bottom: 0;
  margin-bottom: 0;
}

.entry-header {
  margin: 0 0 1.5em 0;
}

.entry-header--time {
  display: block;
  margin-bottom: .25em;
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: #000000;
}

.entry-header--time {
  font-size: 1rem;
}

@media screen and (min-width: 32rem) {
  .entry-header--time {
    font-size: calc(1rem + 0.3 * ((100vw - 32rem) / 68));
  }
}

@media screen and (min-width: 100rem) {
  .entry-header--time {
    font-size: 1.3rem;
  }
}

.entry-header--h1 {
  display: inline-block;
  margin: 0;
  padding: 0 .25em;
  background-color: #000000;
}

.pagination {
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: #fcfcfc;
}

.pagination {
  font-size: 1rem;
}

@media screen and (min-width: 32rem) {
  .pagination {
    font-size: calc(1rem + 0.5 * ((100vw - 32rem) / 68));
  }
}

@media screen and (min-width: 100rem) {
  .pagination {
    font-size: 1.5rem;
  }
}

.pagination a {
  color: #fcfcfc;
}

@keyframes glitch2 {
  0% {
    transform: none;
    opacity: 0.25;
  }
  7% {
    transform: translate(-2px, -3px);
    opacity: 0.5;
  }
  10% {
    transform: none;
    opacity: 0.25;
  }
  27% {
    transform: none;
    opacity: 0.25;
  }
  30% {
    transform: translate(-5px, -2px);
    opacity: 0.5;
  }
  35% {
    transform: none;
    opacity: 0.25;
  }
  52% {
    transform: none;
    opacity: 0.25;
  }
  55% {
    transform: translate(-5px, -1px);
    opacity: 0.5;
  }
  50% {
    transform: none;
    opacity: 0.25;
  }
  72% {
    transform: none;
    opacity: 0.25;
  }
  75% {
    transform: translate(-2px, -6px);
    opacity: 0.5;
  }
  80% {
    transform: none;
    opacity: 0.25;
  }
  100% {
    transform: none;
    opacity: 0.25;
  }
}

@keyframes glitch3 {
  0% {
    transform: none;
    opacity: 0.25;
  }
  7% {
    transform: translate(2px, 3px);
    opacity: 0.5;
  }
  10% {
    transform: none;
    opacity: 0.25;
  }
  27% {
    transform: none;
    opacity: 0.25;
  }
  30% {
    transform: translate(5px, 2px);
    opacity: 0.5;
  }
  35% {
    transform: none;
    opacity: 0.25;
  }
  52% {
    transform: none;
    opacity: 0.25;
  }
  55% {
    transform: translate(5px, 1px);
    opacity: 0.5;
  }
  50% {
    transform: none;
    opacity: 0.25;
  }
  72% {
    transform: none;
    opacity: 0.25;
  }
  75% {
    transform: translate(2px, 6px);
    opacity: 0.5;
  }
  80% {
    transform: none;
    opacity: 0.25;
  }
  100% {
    transform: none;
    opacity: 0.25;
  }
}

.link1 {
  transform: rotate(20deg);
}

.link2 {
  transform: rotate(-15deg);
}

.link3 {
  transform: rotate(-17deg);
}

.link4 {
  transform: rotate(19deg);
}

.link5 {
  transform: rotate(14deg);
}

.link1:hover, .link2:hover, .link3:hover, .link4:hover, .link5:hover {
  transform: none;
}
