<section class="comments" id="comments-section">   
  <div class="divider">
    <h2 class="comments-section__title">
      {% if site.data.comments[page.slug].size > 0 %}
       {{ site.data.comments[page.slug] | size }}
      comment{% if site.data.comments[page.slug].size > 1 %}s{% endif %}
      {% else %}
      Be first to comment ;)
      {% endif %}
    </h2>
  </div> 
  {% if site.data.comments[page.slug] %} 
  <!-- Existing comments -->
  <div class="comments__existing">
    {% assign comments = site.data.comments[page.slug] | where_exp: "item", "item.replying_to_uid == ''" %}
    {% assign comments_by_date = comments | sort: 'date' | reverse %}
    <!-- List main comments in reverse date order, newest first. List replies in date order, oldest first. -->
    {% for comment in comments_by_date %}
    {%- assign email           = comment.email %}
    {%- assign name            = comment.name %}
    {%- assign date            = comment.date %}
    {%- assign message         = comment.message %}
    {%- assign uid             = comment._id %}
    {% include comment.html is_reply=false uid=uid replying_to=0 email=email name=name url=url date=date message=message uid=uid %}
    {% endfor %}
  </div>
  {% endif %}

  <!-- New comment form -->
  <div id="respond" class="comment-form box-border">
    <h2 class="comment-form__title">Say something<small><a rel="nofollow" id="cancel-comment-reply-link" href="{{ page.url | absolute_url }}#respond" style="display:none;">&nbsp;(cancel reply)</a></small></h2>
    {% include comment_form.html %}
  </div>
</section>
{% if site.reCaptcha.enabled %}
<script src="https://www.google.com/recaptcha/api.js"></script>
{% endif %}