.btn-contact {
  display: inline-flex;
  align-items: center;
  gap: .5em;

  padding: var(--space-3xs) var(--space-s);
  border: 2px solid;
  border-radius: 8px;
  background: var(--accent-clr);

  color: var(--dark-clr);
}

.back-to-top {
  display: inline-block; 
  position: fixed;
  bottom: 2rem;
  right: 1rem;
  z-index: 2;

  padding: 0.3em 0.5em;
  background-color: var(--accent-clr);
  border: 1px solid;

  color: var(--dark-clr);  
}

.comments-link {
  a {
    padding: var(--space-3xs) var(--space-xs);
    border: 2px solid; 
    background-size: 100% 200%;
    background-image: linear-gradient(to top, transparent 50%, var(--secondary-clr) 50%);
    transition: all .3s ease-out;

    &:hover {
      background-position: 100% -100%;
    }
  }

  svg {
  fill: var(--light-clr);
  }
}

.read-more {
  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition: .25s ease;
  display: none;
}

.read-more-state {
display: none;
}

.read-more-state:checked ~ .read-more {
opacity: 1;
max-height: 999em;
font-size: inherit;
display: inherit;
}

.read-more-state ~ .read-more-trigger:before {
content: 'Continue \2193';
}

.read-more-state:checked ~ .read-more-trigger:before {
content: 'Show less \2191';
}

.read-more-trigger {  
  display: inline-block;

  padding-inline: 0.3em;
  background-color: var(--light-clr);

  color: var(--primary-clr);

  transition: 0.3s ease;
  
  &:hover {    
  background-color: var(--primary-clr);
  color: var(--light-clr);
  }
}