.comment-form,
.submit-button,
.comment,
.mdl-card__supporting-text, 
.modal-title
{
    color: var(--dark-clr);
}

.comments > * + * {
    margin-top: var(--space-m);
}

.comments-section__title {
    padding: var(--space-2xs) var(--space-xs); 
    border: 2px solid;    
    background: var(--secondary-clr);  
}

.comment-form {
    max-width: 35rem;
    margin-inline: auto;
    padding: var(--space-m);
    background: var(--light-clr);
} 

.comment-form__title {
    margin-bottom: var(--space-s);
}

fieldset {
    border: none;
    padding: 0;
}

.textfield {
    margin-bottom: var(--space-s);
}

.hp {
    display: none;
}

textarea {
    vertical-align: top;    
    max-width: 100%;
}

.textfield__input {
    width: 100%;
    padding: var(--space-2xs);
    border: 2px solid;
    background: transparent;
}

.notify-me, .g-recaptcha {
    padding: 0.5rem 0;
}

.submit-button {
    padding: 5px 7px;
    border: 2px solid var(--dark-clr); 
    background: var(--light-clr);
    background-size: 200% 100%;
    transition: 0.2s ease;

    &:hover {
    color: var(--light-clr);
    background: var(--dark-clr);
    }
}

// Staticman existing comments

.comments__existing > * + * {
    margin-top: var(--space-s);
}

.comment {
    padding: var(--space-l);
    background: var(--light-clr);
}

.comment__author {
    padding-bottom: var(--space-2xs);
    border-bottom: 2px solid;
}

.comment__admin_tag {
    padding: 3px;
    border-radius: 4px;
    background: var(--secondary-clr);
}

.comment__name {
    font-weight: 600;
}

.comment__date {
    a {
        &:hover {
        text-decoration: underline;
        }
    }
}

.comment__body {
    margin-top: var(--space-2xs);
}

.comment__meta {
    text-align: right;
}

.comment__reply-link {
    cursor: pointer;

    &:hover {
    text-decoration: underline;
    }
}

.comment.child {
    margin-left: 2em;
}

// Pop-up modal window for Staticman comments

.show-modal {
    overflow: hidden;
    position: relative;
}

.show-modal:before {
    position: fixed;
    content: '';
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    background: rgba(255, 255, 255, 0.85);
}

.show-modal .modal {
    display: block;    
}

.mdl-card {
    min-height: 200px;
    overflow: hidden;
    z-index: 1;
    position: relative;
    background: var(--light-clr);
    box-sizing: border-box;
}

.modal {
    display: none;
    position: fixed;
    width: 330px;
    top: 50%;
    left: 50%;
    min-height: 0;
    z-index: 9999;
    border: 2px solid var(--dark-clr);
    box-shadow: -4px 4px var(--dark-clr);
    padding: 2rem;
    background: var(--light-clr);
    transform: translate(-50%, -50%);

    > * + * {
        margin-top: var(--space-xs);
    }
}

.mdl-shadow--16dp {
    box-shadow: 0 16px 24px 2px rgba(0,0,0,.14),0 6px 30px 5px rgba(0,0,0,.12),0 8px 10px -5px rgba(0,0,0,.2);
}

.mdl-card__supporting-text, .modal-title {
    overflow: hidden;
    text-align: center;
    line-height: 1.25;      
}

.mdl-card__actions {
    text-align: center;
}

.mdl-js-button {
    background: var(--light-clr);
    border: 1px solid;
    padding: 4px 8px;
    overflow: hidden;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;

  &:hover {
    background: var(--dark-clr);
    color: var(--light-clr);
  }
}

.disabled {
    input,
    button,
    textarea,
    label {
        pointer-events: none;
        cursor: not-allowed;
        filter: alpha(opacity=65);
        box-shadow: none;
        opacity: 0.65;
    }
}