.site-nav li:not(.logo) {
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px; 
  -webkit-text-stroke-color: var(--primary-clr);
  border-block: .2em solid var(--secondary-clr);
  padding-block: var(--space-3xs);

  transform: rotate(-12deg);
  transition: transform .2s ease-in-out;

  &:nth-child(3n+1) {  
    transform: rotate(20deg);
    transition: transform .2s ease-in-out;
  }
  &:hover {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%239bb623' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E"), url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%239bb623' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
    background-position: top, bottom;
    background-repeat: repeat-x, repeat-x; 
    background-size: 20%;
    border-block: 0;
    padding-block: var(--space-2xs);
    transform: rotate(0);
  }
}
// BURGER NAV CONTROLS
#menuToggle  {
  display: block;
  position: relative;
  top: 35px;
  left: 35px;  
  z-index: 1;  
  -webkit-user-select: none;
  user-select: none;
  pointer-events: none;
  
  a {
    color: var(--dark-clr);
    transition: color 0.3s ease;
  
    &:hover  {
      color: var(--light-clr);
    }
  }

  input  {
    display: inline-block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -8px;
    left: -7px;  
    cursor: pointer;  
    pointer-events: all;
    opacity: 0;
    z-index: 2;   
    -webkit-touch-callout: none;
  }

  span  {
    display: block;
    position: relative;  
    z-index: 1;  
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    background: var(--accent-clr);
    border-radius: 3px;  
    transform-origin: 4px 0px;  
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;

    &:first-child  {
    transform-origin: 0% 0%;
    }

    &:nth-last-child(2)  {
      transform-origin: 0% 100%;
    }
  }

  input:checked ~ span  {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
  }

  input:checked ~ span:nth-last-child(3)  {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2); 
  }

  input:checked ~ span:nth-last-child(2)  {
    transform: rotate(-45deg) translate(0, -1px);
  }

  input:checked ~ ul  {
    transform: none;
  }
}

.site-nav-mobile  {
  position: absolute;
  pointer-events: all;

  width: 100%;
  margin: -62px 0 0 -35px;
  padding: 80px 35px 35px 35px;
  border: solid 3px var(--dark-clr);
  background: var(--accent-clr);

  -webkit-font-smoothing: antialiased;  /* to stop flickering of text in safari */  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  
  li {
    padding: 10px 0;
  }
}