.box-border {  
  border: 2px solid var(--dark-clr);
  box-shadow: -0.4em 0.4em var(--dark-clr);
}

.box-border-layout {  
  border: 2px solid var(--border-clr);
  box-shadow: -0.4em 0.4em var(--border-clr);  
  transition: .6s ease;
}

.divider {
  display: flex;
  gap: var(--space-2xs);
  align-items: center;

  &::before, &::after {
    content: '';
    flex-grow: 1;
    height: 2px;
    background: var(--light-clr);
  }
}

.blog-post-sig {
  &:after {
  content: "EgG";
  font-family: "jrugpunk", sans-serif;
  font-size: var(--step-4);
  }  
}

.pagination {
  display: flex;
  > * {
    flex: 1;
  }
}


.archive-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;

  li {
    padding: var(--space-l);
    background: var(--light-clr);
    color: var(--dark-clr);
    transition: .1s ease;
    
    &:hover {
      transform: translate(-0.4em, 0.4em);
      box-shadow: none;
    }
  }
}

.bio-pic {
  max-width: 300px;
  margin: 0 auto var(--space-m);
}

@media (min-width: $breakpoint-2) {
  .float-md-left {
    float: left;
    margin: 0 var(--space-l) var(--space-s) 0;
  }
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;  
  z-index: 2;  
  
  background: var(--accent-clr);
  padding: 0 5px;
  border: 2px solid var(--dark-clr);

  color: var(--dark-clr);  
  
  transform: translate(-50%, -50%);
  visibility: hidden;

  &:target {
    visibility: visible;
  }
  img {
    width: 400px;
  }
  p {
    text-align: center;
  }
}

.close {
  font-size: var(--step-2);
  line-height: 1;

  &:hover {
    color: white;
  }
}

.video-container {  
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
}

.video-container iframe  {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
}

.btn-contact {
  display: inline-flex;
  align-items: center;
  gap: .5em;

  padding: var(--space-3xs) var(--space-s);
  border: 2px solid;
  border-radius: 8px;
  background: var(--accent-clr);

  color: var(--dark-clr);
}

.back-to-top {
  display: inline-block; 
  position: fixed;
  bottom: 2rem;
  right: 1rem;
  z-index: 2;

  padding: 0.3em 0.5em;
  background-color: var(--accent-clr);
  border: 1px solid;

  color: var(--dark-clr);  
}

.comments-link {
  a {
    padding: var(--space-3xs) var(--space-xs);
    border: 2px solid; 
    background-size: 100% 200%;
    background-image: linear-gradient(to top, transparent 50%, var(--secondary-clr) 50%);
    transition: all .3s ease-out;
    &:hover {
      background-position: 100% -100%;
    }
  }
  svg {
  fill: var(--light-clr);  
  }
}

.read-more {
  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition: .25s ease;
  display: none;
}

.read-more-state {
display: none;
}

.read-more-state:checked ~ .read-more {
opacity: 1;
max-height: 999em;
font-size: inherit;
display: inherit;
}

.read-more-state ~ .read-more-trigger:before {
content: 'Continue \2193';
}

.read-more-state:checked ~ .read-more-trigger:before {
content: 'Show less \2191';
}

.read-more-trigger {  
  display: inline-block;
  margin-top: var(--space-xs);

  padding-inline: 0.3em;
  border: 1px solid;

  transition: 0.3s ease;
  
  &:hover {    
  background-color: var(--light-clr);
  color: var(--primary-clr);
  }
}