.loader {
  position: fixed;
  z-index: 99;
  width: 100%;
  height: 100%;
  background: var(--dark-clr);
  display: flex;
  justify-content: center;
  align-items: center;
}

.lds-heart-wrapper {
  position: relative;
  transform: rotate(45deg);
}

.lds-heart {
  position: absolute;
  width: 48px;
  height: 48px;
  background: var(--primary-clr);;
  animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}

.lds-heart::after,
.lds-heart::before {
  content: " ";
  position: absolute;
  display: block;
  width: 48px;
  height: 48px;
  background: var(--primary-clr);
}
.lds-heart::before {
  left: -26px;
  border-radius: 50%;
}
.lds-heart::after {
  top: -26px;
  border-radius: 50%;
}

.no-js .loader { 
  display: none;  
}