.site-nav a, .site-nav-mobile a, .modal-title {
  font-family: var(--ss-font);
}

.modal-title {
  font-size: var(--step-1);
}

.textfield__input, .submit-button, .mdl-js-button {
  font-family: var(--mono-font);
}

.site-nav a,
.site-nav-mobile a,
.pagination,
.page-header__title,
.blog-post__date,
.comments-link {
  text-transform: uppercase;
}

.site-nav a,
.site-nav-mobile a,
.modal-title,
.btn-contact,
.read-more-trigger,
.comments-link {  
  font-weight: bold;
}

.site-nav a {
  line-height: 1;  
  font-size: var(--step-2);
  letter-spacing: 0.03em;
  display: block;
}

.site-nav-mobile a {  
  font-size: var(--step-4);
}

.archive-list li, figcaption, .read-more-trigger {  
  font-size: var(--step--1);
}

.content-body a:not([class]) {
  position: relative;
  overflow: hidden;
  z-index: 1;
  
  &::after {
    position: absolute;
    content: "";
    background: var(--accent-clr);
    left: 7px;
    bottom: -3px;
    width: calc(100% - 5px);
    height: 25%;
    transition: 0.35s cubic-bezier(0.25, 0.1, 0, 2.05);
    z-index: -1;
  }

  &:hover:after {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }
}

.page-header {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: var(--dark-clr);
}

.page-header__title {
  font-family: var(--accent-font);
  font-size: var(--step-4); 
  line-height: 1.125;
}

.section-side__header {  
  margin-bottom: var(--space-s);
  font-size: var(--step-0);
  color: var(--dark-clr);
}

.blog-post__header {
  color: var(--dark-clr);
  font-family: var(--accent-font2);
  text-align: center;
}

.blog-post__title {
  display: inline-block;
  padding: .5em;
  background-color: var(--light-clr);
}

.archive-text__title {
  border-bottom: 2px solid;
}

.archive-text__excerpt {
  margin: 1.5em 0;  
}

.archive-text__category {  
  font-style: italic;

  &:before {
    content:'Filed under: ';
  }
}

figcaption {
  margin-top: 1em;
  text-align: center;
  font-style: italic;
}

.comment__admin_tag,
.comment__reply-link
{
  font-size: var(--step--1);
}

footer {
  font-weight: 300;
}