@font-face {
    font-family: 'jrugpunk';
    src: url('/assets/fonts/JRUGPUNK.ttf');
    font-display: fallback;
  }

  @font-face {
    font-family: 'Merchant Copy Doublesize';
    src: url('/assets/fonts/MerchantCopyDoublesize.ttf');
    font-display: fallback;
  }

  @font-face {
    font-family: 'Merchant Copy';
    src: url('/assets/fonts/MerchantCopy.ttf');
    font-display: fallback;
  }