.welcome {
  @include fluid-type (1.5rem, 2rem);
  text-align: center;
}

.nav-links {
  letter-spacing: 0.1em;
 
  & a {
    @include accentfont(900, uppercase, 1.5);
    @include fluid-type(1.8rem, 2.5rem);
    -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px; 
    -webkit-text-stroke-color: $accentcolor3;
    border-top: .1em solid $accentcolor2;
    border-bottom: .1em solid $accentcolor2;
    padding-top: .1em;
    padding-bottom: .1em;

    &:hover {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23d6bb44' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E"), url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23d6bb44' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
      background-position: top, bottom;
      background-repeat: repeat-x, repeat-x; 
      background-size: 20%;
      border-top: 0;
      border-bottom: 0;
      padding-top: .2em;
      padding-bottom: .2em;
    }
  }
}

.blog-post, .page-header {
  padding-bottom: 1.6rem;
  border-bottom: 1px solid $lightcolor;
  margin-bottom: 3rem;
}

.page-header {
  & h1 {
    margin-bottom: 0;
  }

  & p {
    margin-top: 0;
  }
}

.entry-header { 
  margin: 0 0 2em 0;

  & a {
    color: $lightcolor;
  }
}

.entry-header--time {
  margin-bottom: .25em;
  display: block;
  @include accentfont(500, uppercase, null);
  @include fluid-type(1rem, 1.3rem);
  color: $darkcolor;
}

.entry-header--h1 {
  margin: 0;
  padding: 0 .25em;  
  display: inline-block;
  background-color: $darkcolor;
}

figure {
  margin: 2rem 0;
  display: block;
}

figcaption {
  @include fluid-type(1rem, 1.3rem);
  font-style: italic;
  text-align: center;
  line-height: 1;
}

.bio-box {
  overflow: hidden; //to clear block elements after it
}

.bio-pic {
  width: 40%;
  max-width: 100%;
  float: left;
  margin: 0 1.3em 0 0;
}

.gallery {

  & img {
    margin: 1em 0;
    
    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.pagination {
  @include accentfont(500, uppercase, null);
  @include fluid-type(1rem, 1.5rem);
  display: flex;
  justify-content: space-between;
}

.hidden {
  visibility: hidden;
}


.side--h1 {
  padding: 0.4em;
  background-color: $darkcolor;
  @include fluid-type (1.1rem, 1.4rem);
  text-shadow: none;
}

.socials {
  
  & img {
    width: auto;
    max-width: 25%;
  }

  & li {
    margin: 0.4em 0;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.tooltip {
  line-height: 1;
  position: relative; /* making the .tooltip span a container for the tooltip text */
}

.tooltip:before {
  content: attr(data-text); /* here's the magic */
  position: absolute;
  
  margin-left: 4em; /* and add a small left margin */

  
  /* basic styles */
  padding: 0.3em;
  border-radius: 2px;
  border: solid .1em $lightcolor;
  background: transparent;
  color: $lightcolor;
  text-align:center;

  display:none; /* hide by default */
}

.tooltip:hover:before {
  display:block;
}