---
layout: default
title: {{ post.title }}
---
<article class="blog-post">
    <div class="blog-post__header">
        <div class="blog-post__time">{{ page.date  | date: '%B %-d, %Y' }}</div>
        <h1 class="blog-post__title">{{ page.title }}</h1>
    </div>    
    <div class="content-body blog-post-sig">
        {{ content }}   
    </div> 
</article>
{% if page.comments == true %}
{% include comments.html %}
{% endif %}
        
<div class="pagination">   
    {% if page.previous.url %}
    <a class="left" href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}">&larr; Previous post</a>
    {% endif %}
    {% if page.next.url %}
    <a class="right" href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}">Next post &rarr;</a>
    {% endif %}
</div>