---
layout: default
title: {{ post.title }}
---
<div class="primary-box--content row-spacing rs-small">
    <div class="blog-post--header">
      <p class="blog-post--time">{{ page.date  | date: '%B %d, %Y' }}</p>
      <h1 class="blog-post--title">{{ page.title }}</h1>
    </div>    
    <div class="body body-spacing blog-sig">
        {{ content }}   
    </div> 
</div>
<hr>

<div class="pagination">   
    {% if page.previous.url %}
        <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}">&larr; Older</a>
    {% else %}
    <span class="hidden">&larr; Older</span>
    {% endif %}
    {% if page.next.url %}
        <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}">Newer &rarr;</a>
    {% else %}
    <span class="hidden">Newer &rarr;</span>
    {% endif %}
</div>
