---
layout: default
title: {{ post.title }}
---
<article class="blog-post">
    <div class="blog-post__header">
        <div class="blog-post__time">{{ page.date  | date: '%B %-d, %Y' }}</div>
        <h1 class="blog-post__title">{{ page.title }}</h1>
    </div>    
    <div class="content-body blog-post-sig">
        {{ content }}   
    </div> 
</article>
{% if page.comments == true %}
{% include comments.html %}
{% endif %}
        
<div class="pagination">   
    {% if page.previous.url %}
        <a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.previous.title}}">&larr; Older</a>
    {% else %}
    <span class="hidden">&larr; Older</span>
    {% endif %}
    {% if page.next.url %}
        <a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{page.next.title}}">Newer &rarr;</a>
    {% else %}
    <span class="hidden">Newer &rarr;</span>
    {% endif %}
</div>